[2013-08-09 23:38] andyfischer opened #1 "missing files in 1.4.0"
not sure if I am going crazy, but when I try to NPM install this library, no code is actually included in the package. There's no .js files inside node_modules/z-schema and requiring the library doesn't work.

[code]

[2013-08-12 23:29] #1 closed, assigned to zaggino

[2013-08-13 06:03] jokeyrhyme opened #2 "expose schema validation methods"
I've noticed that schema are automatically validated when you attempt to use them to validate data.

I'm writing unit tests for a project that uses JSON schema, and it would be terrific if I could access these validation methods easily to facilitate with my tests.

[2013-08-13 06:12] jokeyrhyme opened #3 "use `id` attribute during compilation to avoid future remote lookups"
I'm working on a project that is using JSON schema. I currently set the `id` attribute of my schema to the URI that they will be eventually deployed to, just like the upstream IETF draft schema: http://json-schema.org/draft-04/schema

Would it be possible to feed multiple schema into a single validator instance and have it use the `id` attributes to build a local map of available schema?

My hope

[2013-08-14 06:48] #3 closed, assigned to zaggino

[2013-08-14 12:31] #2 closed, assigned to zaggino

[2013-10-31 18:29] mxmz opened #7 "uri format regexp not anchored"
Regexp in `FormatValidators['uri']` is not properly anchored

[2013-11-04 23:43] #7 closed, assigned to zaggino

[2013-11-08 12:20] paul-mcculloch opened #8 "Schemas containing and id and internal or remote refs attempt to re-load themselves as remote resources"
Attempting to validate a schema which has an id attribute and contains $refs (internal or remote) results in attempt to load the schema again remotely.

This seems to make it impossible to use a local schema with an id &  $refs.

Test case at https://github.com/AXIOS-PAULM/Scratch/tree/master/zschema-issue based on http://json-schema.org/example2.html

[2013-11-08 12:24] paul-mcculloch opened #9 "Example from http://json-schema.org/example2.html doesn't validate"
The example schema & data at http://json-schema.org/example2.html doesn't validate. It gives an error:
   [ { code: 'OBJECT_REQUIRED',
       message: 'Missing required property: storage',
       path: '#/',
       params: [Object] } ]

Test case in https://github.com/AXIOS-PAULM/Scratch/tree/master/zschema-issue

Note that to work round https://github.com/zaggino/z-schema/issues/8 the 'id' entry

[2013-11-19 02:35] #9 closed, assigned to zaggino

[2013-11-19 03:18] #8 closed, assigned to zaggino

[2013-11-28 11:24] k7sleeper opened #10 "Reason for creating this library?"
I'd like to know why development of this library was started although there are JSON schema validation libraries out there? What are the features of this library which make z-schema different from other libraries (i.e. natesilva/jayschema)? Is it the Promises/A+ based API?

[2013-11-29 11:44] k7sleeper opened #11 "Unexpected error if a $ref cannot be resolved"
Running the following code under Node.js

[code]

results to the following console output, which I don't expect:

[code]

[2013-11-29 11:50] k7sleeper opened #12 "validation ok despite missing reference"
[code]

is validated successfully against

[code]

[2013-11-29 12:05] k7sleeper opened #13 "How to register several schemas with an id?"
I'm not sure if this question is already answered.

If I have 3 schemas in memory, each of them has an id attribute, one of them is the main schema.

How can I do the following with z-schema:
1. register all 3 schemas with z-schema validator
2. check if there are unresolved references
3. validate objects against one of the 3 schemas

I can do this with other libraries but do not see how to do this

[2013-12-02 05:47] #12 closed, assigned to zaggino

[2013-12-02 06:04] #11 closed, assigned to zaggino

[2013-12-03 03:06] zaggino opened #15 "Clean-up the code."
Just a reminder for myself because it should be done sometime soon.

[2013-12-07 20:59] dolphin278 opened #16 ""links" warning in Hyper-Schema validation"
Tries to validate simple hyper-schemas with empty `links` array, and got a warning telling me that `links` is unknown key despite I set `$schema` to hyper-schema url explicitly:

[code]

gives

[code]

Am I right, that for now schemas are not validated against schema specified by URI in `$schema` key?

[2013-12-12 00:59] #16 closed, assigned to zaggino

[2013-12-12 22:59] #13 closed, assigned to zaggino

[2013-12-13 15:26] k7sleeper opened #17 "There is no validation function for format "regex""
Having a schema with `$schema: 'http://json-schema.org/draft-04/schema#'`, setting remote schema

[code]

and validate something against that schema, leads to

[code]

[2013-12-13 21:13] #17 closed, assigned to zaggino

[2013-12-16 08:14] k7sleeper opened #18 "Clarification on validating the URI format and the reason for strictUris mode."
Having a schema with `$schema: 'http://json-schema.org/draft-04/schema#'`, setting remote schema
[code]
and validate something against that schema, leads to
[code]
If I remove `$schema: 'http://json-schema.org/draft-04/schema#'` from my schema validation is ok.

My schema is quite simple:
[code]

If I change the `id` value from `'schemaA'` to `'http://my.company.de/project#mainSchema'` then valida

[2013-12-20 04:10] zaggino opened #19 "Switch for purely sync validation (disabling async features)"

[2013-12-30 17:14] maerics opened #20 "The "validateSchema" method with callback function doesn't actually validate."
It looks like the "validateSchema" method doesn't actually validate the given schema:

[code]

[2013-12-30 19:44] eabadjiev opened #21 ""$schema" keyword fails validation"
#### Steps to reproduce:
1. start `node` REPL
2. execute the following code:

[code]
#### Expected:

Successful validation.
#### Actual:

[code]
#### Reference:
- [JSON Schema Spec](http://json-schema.org/latest/json-schema-core.html#anchor22)

[2014-01-01 22:06] #21 closed, assigned to nobody

[2014-01-01 22:22] #20 closed, assigned to nobody

[2014-01-14 20:34] burhanfarooq opened #22 "nested hierarchy"
Hi,

I have nested hierarchy like this:

{
  "is_and": false,
  "filters": [
    {
      "is_and": false,
      "filters": [
        {
          "is_and": true,
          "filters": [
            {
              "is_and": true,
              "filters": [
                {
                  "is_and": true,
                  "filters": [
                    {
                      "is_and": true,

[2014-01-15 05:52] #19 closed, assigned to zaggino

[2014-01-16 09:43] k7sleeper opened #23 "support sync schema (pre-) compilation"
Support sync version of `compileSchema()` (see #19). It's convenient at server start-up

[2014-01-16 16:03] atrniv opened #24 "Support for meta data keywords and custom meta data keywords"
It would be really great if it was easier to do the following things with Z-Schema
1. Actually fill in default values into a json instance using the validator.
   This is something which is a real pain especially because of javascript lack of strict type checking. It would be great to be able to ignore keys and just have the validator fill in the default values instead of doing it in a separate pi

[2014-01-16 21:43] #23 closed, assigned to nobody

[2014-01-17 09:05] k7sleeper opened #25 "format 'hostname' doesn't work correctly"
String `'127.0.0.1'` validates against format 'hostname' _and_ 'ipv4' which is not correct!

[code]

must be ok against

[code]

but is not with Z-Schema.

You can check with http://json-schema-validator.herokuapp.com/ or look at http://json-schema.org/example2.html. Also have a look at natesilva/jayschema#21.

[2014-01-17 11:29] #25 closed, assigned to zaggino

[2014-01-17 12:56] atrniv opened #26 "noTypeless behaviour"
The compiler throws a schema validation error when `noTypeless` is set to `true` and instead of the `type` keyword any of the keywords `oneOf`, `anyOf`, `not`, `$ref` are present.

Is this the desired behaviour ? I think it would be more convenient if the error is not thrown if any one of those keywords are present on the schema since they all essentially define what the type of the object should

[2014-01-20 21:20] #26 closed, assigned to zaggino

[2014-01-24 02:54] tjstebbing opened #27 "type coercion"
In the same way you can register a validator, would it be possible to register a coercion function? The idea would be if you have a field you know is a timestamp, you could coerce it to a Date object, or if you had an attribute that was an array of Users which you have a class constructor for, you could have z-schema convert those to your local type.

[2014-01-24 03:08] #27 closed, assigned to nobody

[2014-02-06 23:21] acornejo opened #28 "benchmarks addition?"
Hi @zaggino

I recently created yet another javascript json-schema library called jjv, hosted here:
https://github.com/acornejo/jjv

Due to security and performance reasons, it does not support downloading remote references. Aside from that it should be draft4 compatible (it passes all  appropriate tests).

I haven't had time to create a benchmark script, but I would love to see how it compares wi

[2014-02-07 01:52] #28 closed, assigned to nobody

[2014-02-10 22:52] kellyrmilligan opened #29 "Proper way to reference schema files in same directory as root schema file?"
Hi, I am working with schema files on a local filesystem, and am wondering how a schema file that is referenced should be entered in the main schema file?

example:

[code]

What format should the value for $ref be if the json file is in the same directory as the primary json file?

Thanks!

[2014-02-12 21:35] #29 closed, assigned to zaggino

[2014-02-24 06:46] bingomanatee opened #31 "work on/with z-schema"
I am working on a factory-girl type thing based on json/schema with your library.

Currently I am keeping inin a branch of your z-schema library

https://github.com/leapmotion/z-schema/tree/factory

which also features class files. To do so I have added a method or two to your library and exposed some of its internal componentry.

If you feel this is better put as a seperate (factory) branch I can

[2014-03-11 23:53] andrewdeandrade opened #32 "Partial validation & tying additional validations to partial validations"
I'm still pretty new to JSON schema, but looking around at the other JSON Schema validation libraries out there, I have yet to find one that will support my use case. However judging by the z-schema API, it appears that you may be the most open to the ideas I have in mind were I to fork and submit pull requests.

Basically, I'm looking to add support for two features:

(1) the ability to register

[2014-04-07 03:26] adamcarr opened #34 "Upgrade to newest version of bluebird"
https://github.com/petkaantonov/bluebird/issues/117

This bug reproduces through z-schema.

[2014-04-07 03:49] #34 closed, assigned to nobody

[2014-04-23 16:42] bzuillsmith opened #35 "Handle a Date instance?"
I work mostly in Node and front-end javascript. I like Z-Schema, but it forces me to convert the date to a String, then back to a Date after validation. It's a little cumbersome because mongodb allows storing Date instances into the db. How could I extend or modify z-schema to handle a Date instance? Or could we add the functionality into Z-Schema?

[2014-04-23 22:54] bzuillsmith opened #36 "noTypeless behavior when using anyof"
I think this case should be valid, but currently throws an error. The current implementation only looks for `type` on the `anyOf` schemas and not the parent.

[code]

[2014-04-23 23:01] #35 closed, assigned to nobody

[2014-05-07 16:49] index0h opened #37 "Validate json by schema name"
Hi, is there ability to cache schema by setRemoteReference and next - validate by it's uri? For example:

[code]

Cheers

[2014-05-08 22:02] bzuillsmith opened #38 "registerFormat has no effect on validation result"
I noticed today that my custom format is not having any effect on the end result. I always get successful validation. Is there more I need to do to register my custom format? Provide some kind of error message?

[code]

Here is part of my schema:

[code]

[2014-05-09 00:28] #38 closed, assigned to nobody

[2014-05-09 00:29] #36 closed, assigned to nobody

[2014-05-09 00:36] bzuillsmith opened #39 "Extremely long validation time for complex object"
Okay, if I validate this object it takes <1 ms.

[code]

If I validate this object, it takes 32ms. What is happening that the ObjectID adds 31 ms processing time? Processing time goes up linearly, the more ObjectID's it has to check. Sometimes I need to check arrays of objects with ObjectIDs and that gets outrageous.

[code]

[2014-05-20 14:24] rodjan opened #40 "Nested hierarchy without explicit leaf"
Hello,
 I have a nested hierarchy and I don't want to explicitly define the last item as was done in https://github.com/zaggino/z-schema/issues/22. When I remove the oneOf construct it seems to end in an infinite loop.

This is the json/schema exhibiting the issue:
JSON

[code]

SCHEMA

[code]

[2014-05-22 15:19] HugoCapocci opened #41 "sync validate method doesn't work"
I just tried to follow your example, using [var validator = new ZSchema({ sync: true }); ] and I have this whole Failure Trace...

TypeError: Object true has no method 'forEach'
    at ZSchema.InstanceValidators.required (<myProjectPath>\node_modules\z-schema\src\ZSchema.js:1905:29)
    at step1 (<myProjectPath>\node_modules\z-schema\src\ZSchema.js:1223:48)
    at Object.Utils.forEach (<myProjectP

[2014-06-13 01:05] whitlockjc opened #43 "'Maximum call stack size exceeded' for self-referencing allOf+not"
I'm trying to get z-schema to load the [Swagger Schemas](https://github.com/wordnik/swagger-spec/tree/master/schemas/v1.2).  I noticed that for the `modelsObject.json`, I was getting a `Maximum call stack size exceeded`.  Below is a recipe that will reproduce the issue.  `schemaA` corresponds to [dataTypeBase.json](https://github.com/wordnik/swagger-spec/blob/master/schemas/v1.2/dataType.json) and

[2014-06-13 01:40] whitlockjc opened #44 "Clarification on the schema/reference id and the trailing hash"
The `Plugging this into our main schema` example of the [JSON Schema - Advanced Example](http://json-schema.org/example2.html) shows an example of a `$ref` with a trailing `#` at the end.  If I have a schema id of `mySchema` and I reference it from another document with a `$ref` of `mySchema#`, I'd expect that to work.  But with z-schema, this does not work.  For the reference to work, I either ha

[2014-06-13 03:20] whitlockjc opened #45 "Recompiling schemas results in 'Reference could not be resolved'"
One of the projects I'm working on has a handful of schema files that get combined together to validate a complete JSON payload but there is also a need/desire to be able to treat these schema files individually and validate a JSON payload fragment.  Below is an example structure:

[code]

So each of these schema combinations represent the array of schema fragments to compile for the corresponding

[2014-07-26 12:07] #40 closed, assigned to nobody

[2014-07-26 12:18] #39 closed, assigned to nobody

[2014-07-27 19:13] #43 closed, assigned to nobody

[2014-07-27 19:13] #44 closed, assigned to nobody

[2014-07-27 19:13] #45 closed, assigned to nobody

[2014-07-30 17:51] maxlinc opened #47 "References to draft4 subschema are not working"
I've been trying to use Z-Schema to validate a schema for the [Swagger 2](http://swagger.wordnik.com/) specification.

I'm getting this error:

I've tried it as sync, async, and explicitly using setRemoteReference on a downloaded copy of the schema. None have worked.

I was able to get it to work by altering the host of the $ref (e.g. "json-schema.org" to "json-schema.orgx") and doing a setRemoteR

[2014-07-31 15:07] #47 closed, assigned to nobody

[2014-08-01 20:37] maxlinc opened #48 "Strict mode for email/domain names"
The email format is pretty strict about checking for global Top-Level Domains:
`(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])`

The JSON schema spec is less strict about email, just saying they should comply with:
http://xml2rfc.ietf.org/public/rfc/html/rfc5322.html#addrspec

Although this seems useful the majority of the time, there are two problems

[2014-08-06 02:10] #48 closed, assigned to nobody

[2014-08-06 12:39] cappamontana opened #49 "Validation errors on non-required fields"
Hi,

First of all, thanks for this great library!
I've encountered some problems validating a schema with optional/non-required properties.
I get this error:

errors: Array[2]
0: ValidationError
code: "FORMAT"
message: "date format validation failed: "
path: "#/date_of_birth"
1: ValidationError
code: "PATTERN"
message: "String does not match pattern: ^[1-9]{1}[0-9]{3} ?[A-Z]{2}$"
params: Object
pa

[2014-08-08 00:43] mohsen1 opened #50 "Is this module browserifiable?"
Is there anything Node.js specific used in this module that is not possible to mock in the browser?

[2014-08-12 05:15] #15 closed, assigned to nobody

[2014-08-20 00:56] #41 closed, assigned to nobody

[2014-08-20 00:56] #37 closed, assigned to nobody

[2014-08-20 00:57] #31 closed, assigned to nobody

[2014-08-20 01:00] #22 closed, assigned to nobody

[2014-08-20 03:34] #24 closed, assigned to nobody

[2014-08-20 03:47] zaggino opened #51 "Support v5 Proposals"
https://github.com/json-schema/json-schema/wiki/v5-Proposals

[2014-08-20 05:51] #50 closed, assigned to nobody

[2014-08-20 05:54] #32 closed, assigned to nobody

[2014-09-19 15:12] dschenkelman opened #53 "Include description (if any) if property of type string with pattern fails"
First of all, awesome library :) we are starting to use it and really like the robustness and how easy to use it is.

Now, onto the issue. If we have the following (partial) schema:

[code]

It would be useful to get a human friendly representation of the error which is better that the regex. Currently the error looks like (in z-schema 2.x.x but is seems to provide the same info in 3.x.x):

[code]

[2014-10-14 22:02] nitsnwits opened #54 "Validation for optional objects"
First of all, thank you for a great library. I've found it really useful and its 'options' features is the one which I could not find in other libraries.

I was working with different schema validations for a project. Let's say, my whole JSON body is empty and the schema defines all the fields are optional.
1. Is there a way to define that even though all the fields are optional, at least one (any

[2014-10-14 22:45] #53 closed, assigned to nobody

[2014-10-22 16:48] whitlockjc opened #55 "Error paths as Array"
What do you think about enabling, via some configuration, the representation of error paths?  On the one hand, I like the JSON Pointer syntax for presentation but on the other, I find an array of path segments to be much easier to work with from a programmatic perspective.

[2014-10-22 19:22] whitlockjc opened #56 "Trailing slashes in schema id breaks $ref"
I'm not sure if this is related to #44 but I used almost the same test to reproduce this issue.  Long story short, if your schema id ends with a `#`, references to the schema by id result in an `UNRESOLVABLE_REFERENCE`:

[code]

The output of this is:

[code]

If I remove the trailing `#` from the id, everything works fine:

[code]

[2014-10-22 19:43] whitlockjc opened #57 "Maximum call stack exceeded when compiling array of schemas"
I have an application that uses Swagger 1.2 schema files.  Their schema files are not perfect but I've been able to work around them using jjv.  I want to use z-schema and I've started writing a few tests to see how I'd load the schema files I need.  I've run into a problem where a `Maximum call stack exceeded` happens with the following code _(Warning, it's long but the purpose was to give you a

[2014-10-23 02:24] #56 closed, assigned to nobody

[2014-10-23 02:25] #57 closed, assigned to nobody

[2014-10-24 11:57] aleclofabbro opened #58 "missing references?"
hi @zaggino ,
i have a question/issue.. having schema (taken from your example) formatted as object :

[code]

and code:

[code]

is `validator.getMissingReferences()` return as it should be?

[2014-10-24 16:56] whitlockjc opened #59 "Use JSON pointer syntax for error path strings"
Right now, the string path of an error is a mix of JSON Pointer and some JavaScript string you would eval.  I would like to propose that error paths, when in string form (See #55), use JSON Pointer syntax.  So instead of `#/some/[1]/path[operation]`, it would be `#/some/1/path/operation`.

I ran across this while working on #55.  If you'd like, I an submit a PR for this as well once the PR for #55

[2014-10-25 13:46] atrniv opened #61 "Simultaneous validation behaviour on a global shared instance."
It seems that ZSchema 3.0 does not support the possibility to share the validator instance across multiple simultaneous validations.

In my use case I have several schema files (100+) which I wish to load and validate once. After that I use the validator instance to validate multiple pieces of data which I receive in request bodies on my express server. I wish to reuse the same validator instance

[2014-10-27 02:30] #58 closed, assigned to nobody

[2014-10-27 05:36] #55 closed, assigned to nobody

[2014-10-27 22:00] #59 closed, assigned to nobody

[2014-11-01 23:10] oravecz opened #63 "Failure to parse tincanschema"
I was trying to validate an instance against the [tincan.schema.json](https://github.com/adlnet/tincanschema/blob/master/tincan.schema.json) schema. My instance is:

[code]

And I get this error:

[code]

Which I am assuming is a problem with the library being able to parse the schema?

I was hoping the library would be able to tell me that the value of "Blowup" for actor.objectType is invalid.

[2014-11-02 23:40] #63 closed, assigned to nobody

[2014-11-14 05:09] whitlockjc opened #64 "Missing Reference paths are always strings"
Whenever you have a missing reference, the path added to `report.path` is the full path for the error instead of the array of path segments.  So instead of `report.path` having `['definitions', 'apiObject', 'properties', 'operations', 'items']`, it has `['definitions/apiObject/properties/operations/items']`.  To give you an idea of why this is wrong, let's look at the `error.path` with respect to

[2014-11-14 07:28] #64 closed, assigned to nobody

[2014-11-21 18:03] whitlockjc opened #66 "ZSchema does not report all missing references"
`ZSchema.getMissingRemoteReferences` and `ZSchema.getMissingReferences` seem to only report the first missing reference instead of reporting them all.  The cause seems to at [src/ZSchemaCompilation.js#L193](https://github.com/zaggino/z-schema/blob/3051360cfc9f53ea187a6dd4d473af61adde06c7/src/SchemaCompilation.js#L193).  Here is a simple reproduction scenario:

[code]

Usually I would create a pull

[2014-11-25 12:07] k7sleeper opened #67 "Missing references beginning with v3.1.4"
Beginning with version 3.1.4 the following code

[code]

leads to the following errors

[code]

where `assets.jsonSchemas.commonTypes` is

[code]

Like I said, until and including version 3.1.3 the code above worked, but now, after upgrading to v3.1.4, this code brakes.

I switch back to v3.1.3.

Is there an error in my code which appears beginning with v3.1.4?

[2014-11-25 13:09] #67 closed, assigned to nobody

[2014-11-27 08:21] austencollins opened #68 "Martin"
Hi Martin,

Sorry to clog up your issues section, but I wasn't sure how to reach you.  I'm a fan of your z-schema library.  You've done some really wonderful work here.

I have a start-up in SF which provides people (not apps) with simple databases in the cloud that can store a variety JSON schemas.  People can share their databases with the apps they want to use via API, and revoke permission at

[2014-11-27 15:22] defel opened #69 "value 136.67 does not validate agains multipleOf=0.01 because of floating point problem"
Hi,

using multipleOf can lead to wrong validation errors in some cases, reason seems to be the incorrect validation of floats in js.

For example the following schema:

[code]

Validates correctly against the following documents:

[code]

[code]

But not against:

[code]

This is because rounding errors of floats in javascript (see http://floating-point-gui.de/):

[code]

The problem exists at th

[2014-11-27 22:16] #68 closed, assigned to nobody

[2014-12-05 04:59] #66 closed, assigned to nobody

[2014-12-10 13:59] k7sleeper opened #70 "z-schema does not work with RequireJS!"
Can I use z-schema with RequireJS?

As far as I see, z-schema unconditionally overides `require` what breaks my AMD based app.

[2014-12-11 08:23] #70 closed, assigned to nobody

[2014-12-13 20:08] #54 closed, assigned to nobody

[2014-12-17 11:47] a00andos opened #72 "Custom error messages"
Hi!

Is it possible to create custom error messages in an easy way with z-schema?
Like if I am developing for another language and want proper error messages.

[2014-12-17 13:12] a00andos opened #73 "Errors as object"
Is there a special reason why you have decided to output errors as plain objects instead of Error objects?

[2014-12-18 14:55] simon-p-r opened #74 "Problems migrating from version 2 to 3"
Just trying to migrate some code from version 2 to 3.  I am having problems with report errors and messages not being returned after calling validateSchema method, see code below;

[code]

I call z-schema using this which also failed

[code]

On reading docs it appears I don't have to specify sync true  however is there any replacement for noSchemaCache?

Thanks for this great module!

[2014-12-18 22:11] #74 closed, assigned to nobody

[2014-12-18 22:13] simon-p-r opened #75 "UNRESOLVABLE_REFERENCE"
Hi

I am having a problem above problem migrating from version 2 to 3, what parameter do I have to set when seeing error 'Reference could not be resolved'?

Thanks

[2014-12-19 12:53] #75 closed, assigned to nobody

[2014-12-22 15:36] mctep opened #76 "How to define schemas that refer to each other?"
Hello.

I have two entries `posts` and `users`. User can have a few posts and post have one `author`. When I try to define related schemas, it throws errors.

[code]

[2014-12-23 09:06] #76 closed, assigned to nobody

[2015-01-15 09:19] simon-p-r opened #77 "Validate method"
Hi

When you use the validate method does it compile schemas too?  If not what method do I need to use to compile schemas?

Thanks

[2015-01-15 10:01] zaggino commented on #77
As you see here: https://github.com/zaggino/z-schema/blob/master/src/ZSchema.js#L110-L141
`validate` method both compiles & validates the schema before it's used for validation of json.

[2015-01-15 10:02] zaggino commented on #77
There's a method `validateSchema` which you can use to pre-validate your schemas on server startup if you wish to do so: https://github.com/zaggino/z-schema/blob/master/src/ZSchema.js#L97-L109

[2015-01-15 10:03] zaggino commented on #77
This should be probably put into a README

[2015-01-15 10:20] simon-p-r commented on #77
Yes it would help green fingers like me, I am migrating a system to version 3 and are current use with 2 is the following.

During load up of our server we validate and then then compile schemas (async)

However with version 3 I can use just the validate method to do both tasks, however I will I resolve the $ref flag?  What does the 'ignoreUnresolvableReferences' option do?  Will it resolve them i

[2015-01-15 10:42] zaggino commented on #77
`ignoreUnresolvableReferences` - this one will ignore validation of `$schema` keywords, not `$ref`, refs must be always resolved

Ideally you should load all schemas into an array and then pass this array into `validateSchema` method. It will compile and validate all schemas in that array and also resolve $refs

[2015-01-15 10:47] simon-p-r commented on #77
Ok I tried that but I am getting '__$refResolved' undefined.  See one of the objects being returned by validate method

[code]

[2015-01-15 11:15] zaggino commented on #77
You need to validate schemas with given `id`s like `http://localhost:1234/image` before validating this schema (or put them all into an array)

[2015-01-15 11:15] simon-p-r commented on #77
Update I have tried removing ignoreUnresolvableReferences so values is false and have tried setting 'breakOnFirstError' to true however it doesn't break on first error and contains errors regarding $ref issues like this one

[code]

[2015-01-15 11:16] zaggino commented on #77
Do you have a schema with an id `http://localhost:1234/control` in the array you are trying to validate?

[2015-01-15 11:16] simon-p-r commented on #77
No

[2015-01-15 11:17] zaggino commented on #77
Then where'd you expect $ref `http://localhost:1234/control` to point to?

[2015-01-15 11:18] zaggino commented on #77
See this example from tests, notice the `id` and `$ref` elements
[code]

[2015-01-15 11:22] simon-p-r commented on #77
Ok thank yo, do I need to this as separate arrays for each of my schemas that are embedded?

[2015-01-15 11:30] zaggino commented on #77
You can put all of your schemas into one array and validator will take care of the rest. They don't even need to be in any specific order.

[2015-01-15 11:32] simon-p-r commented on #77
Ok thanks

[2015-01-15 11:34] zaggino commented on #77
Leaving this open to update the README

[2015-01-15 11:36] simon-p-r commented on #77
Let me know if you need any help with documentation!

[2015-01-17 22:38] simon-p-r opened #78 "ignoreUnresolvableReferences"
Hi again

What does this option do?  I have approx 40 separate schema files that I need to use $ref to point from one file to the other.  Can I set this to true to help Me resolve issues with 'missingReferences'?  In version 2 this were resolved by validating definition schemas first and then compiling them separately but in version 3 you use the 'validateSchema' method to validate and compile the

[2015-01-17 22:47] zaggino commented on #78
It'll cause you to get rid of `"UNRESOLVABLE_REFERENCE"` errors. You can't set this to true for any production use. You need to put those 40 schemas into one array and run the `validateSchema` method over that array.

[2015-01-17 22:49] simon-p-r commented on #78
I have tried this but still getting errors, I presume the order of objects in array must be in the order required to resolve $ref?

[2015-01-17 22:52] zaggino commented on #78
Nope, the validator will resolve the order itself, so that's not an issue. But there might be issues when schemaA depends on schemaB and schemaB depends on schemaA (circular references). Do you have these schemas on GitHub or otherwise publicly available?

[2015-01-17 23:01] simon-p-r commented on #78
Not public available, here is the schema I am pointing the 'contactLink' property to $ref, this is in file 'address.js'

[code]

And here is the 'contactLink' schema which is a separate file called 'contactLink.js' in same directory

[code]

[2015-01-17 23:21] zaggino commented on #78
You need to put `id: http://localhost:1234/contactLink` into the contactLink schema root, validator has no idea that the schema is in the same directory because it doesn't handle schema loading by itself.

[2015-01-18 08:16] simon-p-r commented on #78
Sorry this doesn't work, it still returns with _$missingReferences value as
[code]

[2015-01-21 01:54] braco opened #80 "noExtraKeywords for object, not schema?"
I assumed "noExtraKeywords" was for the object to be validated. That is to say, throw an error when encountering any keys in the target object that aren't defined in the schema. This would make sure no keys were falling through the cracks.

This is not currently possible, correct?

A related feature would be to automatically remove/clean any unknown properties. lx-valid does this.

Maybe the confi

[2015-01-21 08:12] zaggino commented on #80
`noExtraKeywords` is for schema and this is clearly stated in readme: https://github.com/zaggino/z-schema#noextrakeywords

for objects that are validated, there're keywords `additionalProperties: false` and `additionalItems: false` which are defined in JSON schema specification, you can set `forceAdditional: true` to be required to specify them in your schemas or you can use https://github.com/zag

[2015-01-21 21:03] braco commented on #80
So what combination of those two config items is "throw error when encountering unknown keys in target object"? I couldn't seem to get that to work.

[2015-01-22 08:20] zaggino commented on #80
Please give a sample of the scenario where you expect the error - sample schema and sample object, thanks.

[2015-01-22 16:06] braco commented on #80
object:
[code]
schema:
[code]

The existence of "bar" should throw an error.

So just this type of scenario, but with many nested objects.

[2015-01-22 20:01] zaggino commented on #80
Two options, create validator like this:
[code]
Or fix your schema with `additionalProperties` like this:
[code]
and use validator like this:
[code]

[2015-01-22 23:47] zaggino commented on #78
Please, submit a full test scenario here, but I'm quite sure the first line shouldn't be:
`[ { ref: 'http://localhost:1234/contactLink',` but `[ { id: 'http://localhost:1234/contactLink',`

[2015-01-23 08:51] simon-p-r commented on #78
Excellent that has worked, thank you for your help!

[2015-01-23 08:51] #78 closed

[2015-01-28 00:03] #73 closed

[2015-01-28 00:15] zaggino commented on #73
This is now uploaded to npm as version 3.3.2

[2015-01-29 18:51] whitlockjc opened #83 "Error description inconsistencies"
I just recently updated to `3.3.2` from `3.2.0` and a number of my tests were failing due to changes in the schema validation error descriptions.  Here are a few examples:

* `Additional properties not allowed: extra` => `Additional properties not allowed: ["extra"]`
* `Missing required property: paths` => `Missing required property: "paths"`
* `Expected type string but found type boolean` => `Exp

[2015-01-29 20:12] zaggino commented on #83
That will be this commit: https://github.com/zaggino/z-schema/commit/2fd2f39fe6e4199b51f385963dff73ad53f56452

Because before this, sometimes you'd get `[object Object]` in the errors.

Didn't realize the consequences and this should be reverted (fixed a better way).

[2015-01-30 11:25] #83 closed

[2015-01-30 11:27] zaggino commented on #83
@whitlockjc Fixed in `3.3.3`, maybe you can submit some of your tests for this to the repo so this doesn't break again without knowing about it.

[2015-01-30 17:14] whitlockjc commented on #83
It shouldn't be necessary but I'll get back to you.  I don't mind my tests failing due to message/structure changes but it was when fixing them that I realized there were a number of different ways to mentions message properties in messages.  That's the only reason I brought it up, the inconsistency, not because I had to fix the tests.  ;)

[2015-01-30 18:09] MattiSG opened #84 "Support CLI usage"
I would like to just `$ z-schema my-schema.json`  :)

[2015-01-31 10:48] Muscula opened #85 "z-schema is causing side effects on the schema (altering it) when run against the official JSON-schema test suite"
I've generated a report of what tests in the [official JSON-schema test suite](https://github.com/json-schema/JSON-Schema-Test-Suite) cause z-schema to alter (mutate) the schema object passed to z-schema:

https://github.com/Muscula/json-schema-benchmark/blob/master/reports/z-schema-side-effects.md

[2015-01-31 10:54] zaggino commented on #85
Yes, that's a normal behaviour for z-schema. For testing purposes, just clone the schema for each validator separately: https://github.com/zaggino/z-schema/blob/master/benchmark/tester.js#L44-L46

[2015-01-31 11:33] Muscula commented on #85
Ok. I would personally not like my validator to mutate the schema I pass into it. But it's up to you of corse.

[2015-01-31 11:51] zaggino commented on #85
This should be fixable, I'll look into it and let you know.

[2015-01-31 12:20] Muscula commented on #85
Cool :-)

[2015-01-31 12:45] Muscula commented on #85
I just added a lot more detail to the side effects error report so it's easy for you to see what's going on and reproduce it:
https://github.com/Muscula/json-schema-benchmark/blob/master/reports/z-schema-side-effects.md

[2015-01-31 13:03] zaggino commented on #85
How can I run the report myself if I clone your repo?

[2015-01-31 13:14] Muscula commented on #85
It's quite simple:
[code]
This will re-generate all the .md files, including the side effects reports. This includes the benchmark, so it takes a minute or two to run.
And note. If you get to zero side-effects, currently the old side-effects report is not deleted. So you need to look in README.md and see if your side-effects are zero.

[2015-01-31 13:24] Muscula commented on #85
I just did an update, so now the old reports are deleted. so you file `reports/z-schema-side-effects.md` should disappear when you have no side-effects.

[2015-01-31 18:38] atrniv commented on #24
@zaggino I've actually been able to implement behavior for default handling including all edges cases I could find in [Themis](https://github.com/playlyfe/themis) . I couldn't finish the original implementation in ZSchema 3 because there was no clean way to do it without mutating the object instance which is used the specify the default value in the schema itself. The validator would mutate the sc

[2015-02-01 20:02] mikepb opened #87 "Typo: JSON_OJBECT_VALIDATION_FAILED"
https://github.com/zaggino/z-schema/blob/master/src/JsonValidation.js#L435

To lazy to fix right now...

[2015-02-01 21:27] #87 closed

[2015-02-01 21:27] zaggino commented on #87
thanks :+1:

[2015-02-01 21:55] #85 closed

[2015-02-02 00:11] zaggino commented on #84
[code]
example would be:
[code]

[2015-02-02 00:17] zaggino commented on #85
This issue should be fixed in latest 3.4.0

[2015-02-02 05:55] Muscula commented on #85
Great. My tests say the problem is gone.

[2015-02-02 10:16] MattiSG commented on #84
Works!  :)

[2015-02-02 10:16] #84 closed

[2015-02-02 10:18] MattiSG opened #88 "Unresolvable reference for `$schema`"
$ z-schema deleted-datasets.schema.json
	[ { code: 'UNRESOLVABLE_REFERENCE',
	    params: [ 'http://json-schema.org/draft-04/schema#' ],
	    message: 'Reference could not be resolved: http://json-schema.org/draft-04/schema#',
	    path: '#/' } ]
	schema validation failed

With the input file being [`deleted-datasets.schema.json`](https://github.com/etalab/deleted-datasets-schema/blob/0d14fb826b21

[2015-02-02 23:48] zaggino commented on #88
Fixed - `npm update -g z-schema`
[code]

[2015-02-02 23:55] zaggino commented on #88
The error was legit, CLI wasn't downloading remote references that should be used for validation but I've fixed that.

[2015-02-03 11:16] MattiSG commented on #88
Nailed it, thanks! Congratulations, `z-schema` is now officially [used](https://github.com/etalab/deleted-datasets-schema/blob/master/package.json#L3) by the French government  ;)

[2015-02-03 11:16] #88 closed

[2015-02-03 12:38] zaggino commented on #88
Nice :) Let me know if you'll need any more features.
Btw I see that you did
`
z-schema deleted-datasets.schema.json && z-schema deleted-datasets.schema.json example.json
`
but you only really have to do
`
z-schema deleted-datasets.schema.json example.json
`
Schema is always validated, whether you pass any json file or not as following arguments.

[2015-02-03 15:04] MattiSG commented on #88
Mmh… I see that, but I need this behaviour to be explicitly documented to use it.

So hey, I did #89  ;)

[2015-02-05 12:31] benwh opened #90 "Infinite loop when using --strictMode"
When I attempt to validate any schema using the command-line tool with the --strictMode option (or any of the --forceX options or --noTypeless) the tools just prints out `request: http://json-schema.org/draft-04/schema - 200` repeatedly.

Is this expected behaviour?

Example, using https://raw.githubusercontent.com/zaggino/z-schema/master/benchmark/advanced_schema_v4.json

    $ z-schema --strictM

[2015-02-05 22:42] zaggino commented on #90
Fixed in latest version:
[code]

[2015-02-06 10:53] benwh commented on #90
Thanks for the quick turnaround, issue resolved for me.

It's interesting to note though that the above example still fails, because `http://json-schema.org/draft-04/schema` doesn't conform to the strict checks, so I'm not sure how useful this parameter is!

[2015-02-06 10:53] #90 closed

[2015-02-06 13:09] zaggino commented on #90
Strict checks are checks over the specification of `json-schema` but useful in real world applications. For example with `strictMode` you can't have strings in schema without `maxLength` to avoid getting very large strings posted against your api, but normal `json-schema` doesn't require you to specify `maxLength`. See more about this in README

[2015-02-06 14:34] bvitale opened #91 "JSON Schema Core doesn't validate in strictMode"
The following test schema does not validate in strictMode. However, the validator is hung up on issues with the parent schema. How can I use strictMode for my own schemas but ignore the issues with JSON Schema?

[code]

[code]

[2015-02-06 15:52] bvitale opened #92 "noExtraKeywords doesn't catch bad keywords in schema with parent"
I see that this is explicit in the source of ZSchema, but the following minimal schema with a parent $schema of JSON Schema itself does not report the 'foo' keyword:

[code]

[code]

Whereas with no $schema, it reports it.

If JSON Schema is the default parent, shouldn't these behave the same?

[2015-02-08 03:27] zaggino commented on #91
Since you have `"$schema": "http://json-schema.org/draft-04/schema#"` specified, the validator validates your schema against that parent schema.

I'd suggest making a copy of the parent schema, fixing it and pointing to it instead.

[2015-02-08 03:28] zaggino commented on #92
In this case, your schema is validated against parent schema (`http://json-schema.org/draft-04/schema`) and the parent schema specifies, that the extra keywords are allowed.

[2015-03-03 05:33] #92 closed

[2015-03-03 05:33] #91 closed

[2015-03-03 05:41] zaggino opened #94 "get a resolved schema for documentation purposes"
I want to define these two schemas:
[code]
and then call:
[code]
to get a schema where `$ref` references will be resolved so I can use it in docs

[2015-03-03 22:19] zaggino commented on #94
`z-schema@3.5.0`

[2015-03-03 22:19] #94 closed

[2015-03-03 22:25] simon-p-r opened #95 "Cache problem"
Hi

Can you explain how the cache is created?  I am migrating some working code and because the cache is not being created when I use the 'validateSchema' method it returns errors.  The objects are being stored in the 'referenceCache' array.

Thanks

[2015-03-03 23:06] simon-p-r commented on #95
I had to deep clone the cache from another object before I called the 'validateSchema' method, now everything is working as to be expected.

[2015-03-03 23:06] #95 closed

[2015-03-03 23:38] zaggino commented on #95
`referenceCache` is there so we don't do any modifications of the original objects

I didn't really understood what you're trying to do from your issue, but if you need any help, let me know. A code scenario would be useful.

[2015-03-04 10:18] simon-p-r commented on #95
Basically the issue was I was setting my references with any object created with a constructor and then using another object created by another constructor to call 'validateSchema' which meant the value of the 'this' property was different hence no cache in my objects properties.  My mistake as still very new to programming.  What is the change in the latest version?

[2015-03-04 11:48] zaggino commented on #95
latest version has improvements for this issue: https://github.com/zaggino/z-schema/issues/94

[2015-03-12 23:07] Sencerd opened #96 "Email format validation false negatives"
The email validation regex used for the email format checking is incorrect, and will fail for valid email addresses. For example, anything that includes an underscore before a period will fail (eg: my_email@gmail.com)

https://github.com/chriso/validator.js has a very good email regex, including it as a dependency may be a little OTT, but the regex could be used in place of the existing one, thoug

[2015-03-12 23:18] zaggino commented on #96
that's definitely a bug

i'll take a look at the https://github.com/chriso/validator.js and consider making it a dependency if browserify is able to handle all this fine (i've had issues with it before)

[2015-03-13 00:43] zaggino commented on #96
Should be fixed in `3.6.1`, let me know if you'll have any more issues.

[2015-03-13 00:44] Sencerd commented on #96
That's perfect, thank you for the speedy fix!

[2015-03-20 19:04] joetconcur opened #97 "Exception when validate schema using cli"
I was trying to validate a schema, which has references to another schema file, and receive the following exception. I suspect the references could not be resolved.
[code]

[2015-03-20 21:29] zaggino commented on #97
@joetconcur z-schema@3.6.2 was published to the registry, this is fixed so you should be able to see what the error really is

[2015-03-20 21:48] joetconcur commented on #97
Thanks for the fast fix!
Quick question. If I want to reference to another schema file in the same directory,  what syntax do I use? The error I received was `[Error: Invalid URI "another-schema.json"]`

[2015-03-20 22:21] zaggino commented on #97
That's currently not supported, but also not difficult to implement at all. I'll take a go at this after the weekend. Or submit a PR if you want @joetconcur

[2015-03-21 21:21] zaggino commented on #97
@joetconcur can you try latest `3.7.0` ?

[2015-03-23 16:54] joetconcur commented on #97
I just tried v3.7.1 and it worked awesome on the cli Thanks for all your help!
Now I will try the same using javascript in node js and will report back.

[2015-03-24 03:30] zaggino opened #98 "when validating `oneOf` return only one error for each `oneOf` branch"

[2015-03-24 22:54] joetconcur opened #99 "Resolving references when using Node.JS library"
I really like the enhancement you added to the CLI to enable local file reference resolution. It works perfectly. Is it possible to have the same capability when validate in NodeJS.

My schema has references to another schema file in the same directory, like
`{ "$ref": "anotherSchema.json#/definitions/anotherType" }`

When I tried to do validate in js, all the references could not be resolved.
[co

[2015-03-24 23:37] zaggino commented on #99
When using `node-js` library, the proper loading of all the schemas is up to you, because every project can have this implemented differently.

This is how CLI does it: https://github.com/zaggino/z-schema/blob/master/bin/z-schema#L65-L128
Basically it tries to validate the schemas and if gets any unresolved ones, loads them and runs the validation again. This is one option.

Other option is, what

[2015-03-26 00:49] zaggino commented on #98
done in `3.8.0`

[2015-03-26 00:49] #98 closed

[2015-03-26 02:10] joetconcur commented on #99
Ah... I see what I was missing now. Before calling validate, I have to load all the references manually using `validator.setRemoteReference(url, reference)`.

Now what I don't understand though is why `http://json-schema.org/draft-04/schema` is not resolved automatically by z-schema? In all my schemas, I have `"$schema": "http://json-schema.org/draft-04/schema#"` as the first line. I found out tha

[2015-03-26 02:31] zaggino commented on #99
`http://json-schema.org/draft-04/schema` is just one of standard schemas, other one is `http://json-schema.org/draft-04/hyper-schema` and also it's completely valid to define your own if you want; or don't use `$schema` at all ...

[2015-03-26 04:48] joetconcur commented on #99
I see. Thanks for taking the time to explain.
Since there are just 2 *standard* schemas - `http://json-schema.org/draft-04/schema` and `http://json-schema.org/draft-04/hyper-schema`, IMHO, they should be an exception, i.e., the validator should have knowledge of the two and not require clients to manually `setRemoteReference` for them. Just my 2 cents.

[2015-03-26 05:18] zaggino commented on #99
Do you mean exception as that z-schema should do what? Ignore them or have them downloaded together with the library?

[2015-03-26 16:05] joetconcur commented on #99
If the data from those url is not used in the validation, ignore them. If it is used, have them downloaded together with the library.

[2015-03-28 09:41] Koka5 opened #100 "Compiling JSON Schema draft-03"
I have a few draft -03 json schema for some js objects.
I am setting remote references with the help of its api setRemoteReference and providing the draft-03 schema object from here http://json-schema.org/draft-03/schema#

var ZSV = new ZSchemaValidator({ breakOnFirstError: false });
ZSV.setRemoteReference('http://json-schema.org/draft-03/schema#', {
  // json object downloaded from draft-03 url
}

[2015-03-28 09:51] zaggino commented on #100
Hi @Koka5 , z-schema was never coded or tested with draft3, it supports only draft4 right now.

[2015-03-28 10:04] Koka5 commented on #100
Is there any workaround for the same?

[2015-03-28 10:14] zaggino commented on #100
Probably not, there're other validators that support v3. And I think I've seen a tool that converts v3 schemas to v4 but I'm not sure where.

[2015-03-28 10:37] zaggino commented on #99
Ok, I can bundle them with the next version of `z-schema`

[2015-03-29 22:26] #99 closed

[2015-03-29 23:35] zaggino commented on #99
@joetconcur these schemas are now bundled with `z-schema@3.9.0`

[2015-03-30 15:58] joetconcur commented on #99
Awesome! It works perfectly. Thanks!

[2015-04-07 06:40] #97 closed

[2015-04-07 06:40] #96 closed

[2015-04-24 11:09] simon-p-r opened #101 "Cannot read property '__$compiled' of undefined"
Hi

I am trying to test z-schema as part of a module I am writing and I keep getting this error when running the validate method asynchronously.

Thanks
Simon

[2015-04-24 12:33] zaggino commented on #101
Can you post the full-stack or at least the line which throws this error?

[2015-04-24 12:38] simon-p-r commented on #101
Cannot read property '__$compiled' of undefined

      at ZSchema.exports.compileSchema (D:\modules\aim-schema\node_modules\z-schema\src\SchemaCompilation.js:193:15)
      at ZSchema.validate (D:\modules\aim-schema\node_modules\z-schema\src\ZSchema.js:123:52)
      at internals.Manager.validateData (D:\modules\aim-schema\lib\manager.js:286:85)
      at D:\modules\aim-schema\test\validate.js:69:11

[2015-04-24 13:53] zaggino commented on #101
Can you try again with version `3.9.2` ?

[2015-04-24 14:03] simon-p-r commented on #101
D:\modules\aim-schema>npm test

Formats
  V 1) should validate phone numbers (53 ms)
  V 2) should validate post codes (0 ms)
  V 3) should validate object id (12 ms)
Manager
  V 4) should throw an error constructed without new (2 ms)
  V 5) should throw an error when not passed an options object to constructor (11 ms)
  V 6) should create a settings object via hoek, applying defaults to object pa

[2015-04-24 14:06] zaggino commented on #101
Check the line which errors `ZSchema.js:124:17` - https://github.com/zaggino/z-schema/blob/master/src/ZSchema.js#L119-L124
You're passing `undefined` instead of the actual schema

[2015-04-24 14:07] zaggino commented on #101
And current fail `undefined is not a function` happens in your code: `at D:\modules\aim-schema\lib\manager.js:289:72`

[2015-04-24 15:04] simon-p-r commented on #101
Thanks fixed, sorry this is my first real use of testing so still getting use to it.

[2015-04-24 15:04] #101 closed

[2015-04-24 22:49] zaggino commented on #101
:+1:

[2015-04-28 18:46] simon-p-r opened #103 "Validate async fails silently"
Hi

Just found an issue where z-schema fails silently when trying to validate an invalid schema object in async mode.  Schema is here and failed due to empty enum array;

[code]
The schema was failing on line 131 - 133 as being returned as sync function before detected if function was called async (line 138) which meant process hanged due to callback not being triggered due to no return value.  I

[2015-04-29 03:17] zaggino commented on #103
Fixed and published as `z-schema@3.9.4`

[2015-04-29 03:17] #103 closed

[2015-04-29 03:17] #100 closed

[2015-04-29 03:17] #80 closed

[2015-04-29 03:17] #72 closed

[2015-04-29 03:17] #61 closed

[2015-04-29 03:17] #49 closed

[2015-04-29 03:18] #10 closed

[2015-04-29 03:18] #18 closed

[2015-04-29 06:54] simon-p-r commented on #103
Thanks for quick response

[2015-04-29 07:30] simon-p-r opened #104 "Testing register formats"
Is there anyway to check formats have been registered? I am trying to write a test that covers registering all my formats.

Thanks

[2015-04-29 07:40] zaggino commented on #104
No, but feel free to put up a PR for the method.

[2015-04-29 07:41] simon-p-r commented on #104
Ok no problem

[2015-05-05 20:54] simon-p-r opened #106 "validateSchema bug"
Hi

The validateSchema method returns true if you pass an empty array.

Thanks
Simon

[2015-05-05 23:10] #106 closed

[2015-05-05 23:11] zaggino commented on #106
Fixed in 3.9.5

[2015-05-06 07:02] simon-p-r commented on #106
Thanks again for quick fix!

[2015-05-14 12:57] keklabs opened #107 "Please add Support for Controlling Remote Schema Reading"
I already read the sample provided at https://github.com/zaggino/z-schema/blob/master/test/spec/AutomaticSchemaLoadingSpec.js
but the solution with repeated validation is not so effective as I need.

As I understand the sample,  I have to

1. try validation
2. check for unresolved schema references and load them
3. repeat from 1) until all schema references are resolved

so when I will have deep (

[2015-05-15 04:13] zaggino commented on #107
I can do this, but `validator.setSchemaReader(function(){})` would be only sync function so no promises, callback, async calls, reading from file system, etc.

[2015-05-15 14:50] keklabs commented on #107
In my opinion it should be OK, it is synchronous feature, the validator should not continue with validation until the reference is resolved, because the remote schema is needed for validation of current element.

The resolved schema will be cached and reused for other validations, so next validate will be faster, when no other unknown reference will be found.

[2015-05-18 05:00] zaggino commented on #107
Implemented in `3.10.0`,  see https://github.com/zaggino/z-schema#remote-references-and-schemas and https://github.com/zaggino/z-schema/blob/5c77227439a65214db9e2dabad04198357332700/test/ZSchemaTestSuite/Issue107.js

[2015-05-19 13:42] simon-p-r opened #108 "Register format input check"
Hi Martin

I can't see where the function registered is type checked, for example I am writing this code to check input to a register format function but cannot follow very well during debug!

[code]

Thanks
Simon

[2015-05-19 13:50] zaggino commented on #108
That'd be here: https://github.com/zaggino/z-schema/blob/master/src/JsonValidation.js#L310-L330
Async tasks are executed once all the sync validation is finished.

[2015-05-20 12:03] Kegsay opened #109 "CLI: Implement exit code"
It would be great if `z-schema` returned a non-zero exit code if a validation failed. I'm currently using it in a shell script but have to parse stdout :(
[code]

[2015-05-20 12:17] zaggino commented on #109
Should be fixed in version 3.10.1

[2015-05-20 12:48] Kegsay commented on #109
This is great, thanks, but it only works in Node.js `0.12.*` and not `0.10.*` as per https://github.com/joyent/node/issues/8557 - If you want to preserve compatibility could you please use `process.exit(1)` instead (and possibly storing the exit code so all validations run if you don't want to fail fast)?

[2015-05-20 13:21] zaggino commented on #109
Ah, didn't know that. Can you try if `3.10.2` is ok?

[2015-05-20 13:27] Kegsay commented on #109
`3.10.2` works great, thank you!

[2015-05-20 13:39] #109 closed

[2015-05-20 13:39] zaggino commented on #109
:+1:

[2015-05-20 13:44] simon-p-r commented on #108
Excellent I have manage to reduce some lines of code now I know what you are computing under the hood?

Thanks
Simon

[2015-05-20 13:44] #108 closed

[2015-05-20 13:47] #107 closed

[2015-06-04 13:04] IvanGoncharov opened #110 "Validation of 'default' and 'enum' values against associated schemas"
According to [Draft4](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.2.2)

As for `enum` there is no such recommendation, but I plan to submit PR.

Right know library consider following a valid schema:
[code]

It would be very useful to implement such check and enable it by special flag.

[2015-06-05 16:40] IvanGoncharov commented on #110
@zaggino, I reviewed you code and have solution.
I will try to submit in next couple of days.
Can you suggest name for flag which will enable such validation?

[2015-06-08 15:15] #110 closed

[2015-06-08 15:18] zaggino commented on #110
this is now published in `3.11.0`

[2015-06-08 21:50] whitlockjc opened #113 "Support warnings"
There are some situations in JSON Schema validation where warnings could be created.  _(Imagine the user has a `type` of `integer` but they are using the `maxItems` validation constraint.)_  What are your thoughts on generating warnings?  I thought of this recently when [working on json-schema-faker](https://github.com/pateketrueke/json-schema-faker/commit/e131355d6791a4c7754b82167834d1ef8aeb908b)

[2015-06-09 06:44] zaggino commented on #113
Agree with you, that would be definitely useful to have :+1:

[2015-06-09 13:37] IvanGoncharov commented on #113
@whitlockjc, really good idea.
Some of existing checks are good candidates to became warnings, for e.g. checks from #112 .
Two additional enchantments:
 - Make unique ID for each warning and allow disabling them individually.
 - Make flag to convert all warnings into errors. (like -Werror in gcc)

[2015-06-09 14:34] IvanGoncharov opened #114 "Support for custom validators."
For many use cases JSON Schema isn't enough to check all restrictions.
So right now, typical scenario is validate using JSON schema validator and them use hand-write recursive code.

 Consider following schema:
[code]
So JS validation code would be, like that:
[code]
In real life hand-written validator quickly mirror most of JSON Schema.
It especially hard to work with 'oneOf', 'allOf', etc.
My id

[2015-06-10 08:45] zaggino commented on #114
how does this differ from using a `format` keyword and a custom format? i'm not sure I understand what you're trying to do

[2015-06-10 21:47] IvanGoncharov commented on #114
You right, in theory it could be handled by custom `format` keywords.
In reality where are several problem:
- You need to add unique format keywords to almost all types.
- It could result in name clash if you reference external schemas
- In many cases you can't modify JSON Schema.

IMHO, custom formats should be used for clearly defined repetitive validations, like IP or MAC address, etc. In case

[2015-06-11 06:18] zaggino commented on #114
Ok, cool ... convinced ... if you can implement this with tests, I'll be happy to merge and release it.

[2015-06-13 19:44] simon-p-r opened #116 "Error on npm install"
Hi

Just trying to make a pull request to add some handling for registering formats and this error occurred when running npm install.

[code]

[2015-06-13 20:06] IvanGoncharov commented on #116
@simon-p-r You need to clone your repository recursively, see [here](https://github.com/zaggino/z-schema#development)

[2015-06-13 20:15] simon-p-r commented on #116
Thanks @IvanGoncharov missed this in README

[2015-06-13 20:15] #116 closed

[2015-06-15 08:46] simon-p-r commented on #104
Closing under #117

[2015-06-15 08:46] #104 closed

[2015-06-15 22:19] whitlockjc opened #120 "Add column/line information to validation errors"
Over the weekend I played with [Esprima](http://esprima.org/) to generate an AST from JSON and then looked at what it would take to find column/line information based on an error path.  It was surprisingly easy and I think we could do a first pass at adding column/line information to z-schema error payloads but there are some concerns that I'll bring up later.  What I did was I took the `path` pro

[2015-06-16 13:17] zaggino commented on #120
Definitely good looking feature - saying that probably out of scope of my time right now. If you'd be able to implement it together with some tests I'd definitely pull it in. You could probably try to detect the indentation from the json somehow to make it a bit more accurate but as you said, it'd be quite hard to deal with empty lines, mixed indent and so...

[2015-06-16 15:48] whitlockjc commented on #120
I wouldn't mind doing the work but I don't see any good way to handle the empty lines, mixed indentation or identifying the indentation.  For the last one, we could make it configurable and make the default `2` like I did above.  Any attempt to provide an API to make things more accurate would likely be better in a different library.

[2015-06-16 21:38] zaggino commented on #120
My only idea is, because z-schema works with a tree in memory obviously and not a file ... you can run the validation, collect the errors and then using the error paths walk the actual file and get the numbers from it?

[2015-06-17 11:05] xied75 opened #121 "Running CLI give "UNKNOWN_FORMAT" errors"
Dear all,

I was using z-schema from command line against a json schema file for https://github.com/jdorn/json-editor

I have a block like this
[code]

Which gives me the following error:

[code]

According to the spec http://json-schema.org/latest/json-schema-validation.html#anchor104
_A format attribute can generally only validate a given set of instance types. If the type of the instance to val

[2015-06-17 13:40] whitlockjc commented on #120
That would work but it would be one more step and one more API for the user to use.  But I guess if they want column/line information, it's just what they'd need to do.  Where this gets even more laborious is if we wanted to provide this information for the data tree and the schema tree(s) because then it would be multiple calls.

The more I think about it, some sort of `ZSchema#attachLOCToErrors`

[2015-06-18 18:24] simon-p-r commented on #121
Have you registered the password format? One way to check is call the getRegisteredFormats method which will return an array of strings for each format that is registered.

[2015-06-19 08:36] xied75 commented on #121
@simon-p-r I understand there are tons of method I can call if I'm writing code; unfortunately I'm in command line. Besides I'm trying to point out what the SPEC is saying which I believe tools should normally follow. :)

[2015-06-19 08:38] simon-p-r commented on #121
@xied75  just do some preprocessing on schemas with Z-schema and then call them from command line.

[2015-06-19 08:58] zaggino commented on #121
PR for `ignoreUnknownFormats` option is welcome

[2015-06-26 18:05] whitlockjc commented on #110
Two quick items:

* This should be documented *(A simple PR of course)*
* Why wasn't this applied to `JsonValidation` as well?  In swagger-tools I currently have to manually validate all `default` values against their respective JSON Schema but I'd love to not have to do this if possible.

[2015-06-26 18:32] IvanGoncharov commented on #110
@whitlockjc How it could be applied to `JsonValidation`? It's validation of JSON Schema field `default`.

Funny enough, it was my original intention.
In `swagger-tools` you don't validate `default` value of method parameters.
You can fix that by putting entire parameter through Schema validation.
And for Schema objects you should do the same.

[2015-06-26 18:39] whitlockjc commented on #110
Yeah, after digging I see that there is no good way to do this in z-schema unless I'm missing something.  I was aware that with non-body parameters that this would be a pain since the parameter definition is not a JSON Schema like a body parameter is.

As for swagger-tools not validating default values of method parameters, it really does.  *(https://github.com/apigee-127/swagger-tools/blob/master

[2015-06-26 19:13] IvanGoncharov commented on #110
@whitlockjc I think, this conversation moving from JSON Schema into Swagger area.
So I create `swagger-tool` issue, let's continue discussion over there.

[2015-07-01 18:33] braco opened #123 "Cannot read property 'errors' of undefined at ZSchema.getLastErrors"
validator.getLastErrors()

is producing

[code]

Not sure why, yet

[2015-07-01 18:48] braco commented on #123
Looks like this causes the problem:

validator.validate({}, undefined)
validator.getLastErrors()

[2015-07-15 16:29] ismasan opened #124 "Do not depend on request package"
Hi.

I'm using this package (thanks!) as included by Swagger Node.

When trying to use `npm shrinkwrap` on my project I see the following error:

[code]

However, searching in this library's source code I see that `request` only seems to be used in tests.

My question is: Is it necessary to define `request` as a dependency, as opposed to a dev-dependency for tests only?

Regards.

[2015-07-15 23:27] zaggino commented on #124
`request` is used only by command line interface, but I didn't make it a separate package. Would it help putting it into `optionalDependencies`?

[2015-08-05 20:48] whitlockjc opened #125 "Why process format if type validation fails"
Imagine I've got a schema like this:

[code]

I register my `int32` format validator and I validate the value `1.1`.  It comes to my surprise that instead of getting a `type` error alone, I get a `type` and a `format` error:

[code]

That being said, why are we doing `format` validation on values that have failed `type` validation?

[2015-08-06 00:24] zaggino commented on #125
yes, this should be fixed

[2015-08-06 02:19] whitlockjc commented on #125
I searched but didn't see a reported issue, my bad.

[2015-08-10 23:21] reesew opened #126 "nested references"
I'm using the cli, and have been unable to get validation to work when there is more than one level of references. If schema A references schema B, it works fine, but if schema B further references schema C, it fails with either unable to read file schema B, or unable to parse file schema B as json.
Is this the expected behavior?

### Example:
Given the data
`data.json`
[code]
and using the cli `z

[2015-08-11 00:16] zaggino commented on #126
Thanks for the report, working on the fix.

[2015-08-11 01:16] zaggino commented on #126
`z-schema` has been updated to `3.12.1`

[2015-08-11 17:26] reesew commented on #126
So for the example posted above, the new error I'm getting is `REMOTE_NOT_VALID` with the message `Remote reference didn't compile successfully: int.json#`, which I'm guessing is the expected behavior given my inputs (i.e. because of my lack of understanding of json schema in general). Do I need to use absolute URIs? Am I using the `#` correctly?

[2015-08-11 20:55] zaggino commented on #126
well, the error basically says that in file `int.json` there's a referenced file `data-types.json` which can't be found

[2015-08-11 22:23] reesew commented on #126
Right, but why can't it find it when it is the 2nd nested level, but it can when it is only the first nested level (i.e. `z-schema int.json datum.json`) ? It does exist in the same directory as `int.json` and `ints.json`, and has the contents
[code]

[2015-08-11 23:23] zaggino commented on #126
maybe another bug, let me check this

[2015-08-11 23:24] zaggino commented on #126
actually, to make things fast, can you zip contents of your demo and post here the link? or mail them to me to zaggino at gmail

[2015-08-12 18:09] reesew commented on #126
Files available here:
https://gist.github.com/reesew/64379e1e1f887a8985af

[2015-08-12 23:37] #123 closed

[2015-08-12 23:41] #124 closed

[2015-08-12 23:49] zaggino commented on #126
This is now fixed by `z-schema@3.12.2`

[2015-08-12 23:51] zaggino commented on #125
Hi @whitlockjc , I put this test in place: https://github.com/zaggino/z-schema/blob/master/test/ZSchemaTestSuite/Issue125.js
But it seems it's working fine, without chaning the code of the validator. Any change you're using the `breakOnFirstError: false` setting?

[2015-08-13 00:08] reesew commented on #126
amazing

[2015-08-13 00:08] #126 closed

[2015-08-13 00:36] whitlockjc commented on #125
I'm not using `breakOnFirstError` so whatever its default is.  Maybe I've got an old version of z-schema.  Here is my test: https://github.com/apigee-127/sway/blob/master/test/test-2.0.js#L272  Looks like I'm using `3.12.0` of z-schema.  Maybe it was just fixed after that.

[2015-08-13 00:54] zaggino commented on #125
`3.12.2` is the latest now, but I don't think I have changed anything to fix this.

Anyway, please make a PR to this test: https://github.com/zaggino/z-schema/blob/master/test/ZSchemaTestSuite/Issue125.js if you think I got it wrong somewhere. Closing this in the meantime.

[2015-08-13 00:54] #125 closed

[2015-08-18 22:29] whitlockjc commented on #125
I cannot reproduce this with standalone z-schema.  :)  Seems my project is somehow busting things up.  Not sure how but it is.

[2015-08-18 22:40] whitlockjc commented on #125
This is really baffling.  Standalone z-schema works fine, z-schema in my environment fails.  If you get a few minutes: https://github.com/apigee-127/sway/blob/master/test/test-2.0.js#L303  That test, and most of the ones in that same `describe` block, all have the same type+format error issue.  If you've got a few minutes:

* `git clone https://github.com/apigee-127/sway.git`
* `cd sway`
* `npm in

[2015-08-19 00:06] zaggino commented on #125
[code]

[2015-08-19 00:07] zaggino commented on #125
Can you make a test fail so I can check what's wrong with z-schema in your case?

[2015-08-19 01:05] whitlockjc commented on #125
Here is a diff you can apply:

[code]

[2015-08-19 02:33] zaggino commented on #125
Ah, error was completely in a different place, fixed in `3.12.3`

[2015-08-19 15:17] whitlockjc commented on #125
Glad I wasn't making it up.  :)  Thanks for your help.

[2015-08-19 15:52] dvelitchkov opened #127 "Strange behavior with strict mode schema validation"
I want to validate a schema if it's valid using the ```validateSchema``` call. In strict mode, the validator always fails for even the simplest of schemas (see below). However, if I re-initialize a new validator using non-strict mode, and then initialize a strict-mode validator a second time, schema validation succeeds.

Reproduction:

[code]
I'm guessing it's some caching issue - didn't spend too

[2015-08-21 01:16] zaggino commented on #127
Hi @dvelitchkov , this should be now fixed in `3.12.4`

[2015-08-24 20:14] epoberezkin commented on #114
That's quite common request. There are several problems with that approach though:

1. It does not scale across multiple platforms. Custom keywords that find their way into schemas will not be handled in the same way in platforms written in other languages (or not handled at all). So JSON schemas lose one of its main advantages - platform independence.
2. The desire to use custom keywords is often

[2015-08-24 20:21] epoberezkin opened #129 "Benchmarks"
Your benchmarks are extremely useful in optimising the validator performance.
It would be helpful to have them show second place and use it as the baseline (100%).
I can make it if you don't mind.

[2015-08-24 21:19] zaggino commented on #129
@epoberezkin go ahead, i'll merge the pr

[2015-09-01 13:45] the-t-in-rtf opened #130 "Improve escaping of slashes in `path`...."
For deeply hierarchical structures, z-schema returns the name of the problematic variable under `params[0]`, and the path to the variable under `path`, as in:

[code]

For simple cases, you can convert the path variable to a hierarchy of segments using the slash character.  Z-schema supports escaping of the slash character in keys, presumably with this in mind.  However, only the first slash is es

[2015-09-01 14:29] the-t-in-rtf opened #131 "Top-level errors obscure deeper errors..."
If I omit a top-level field, it seems to prevent checking for deeper requirements.  Check out this example:

[code]

You would expect to see two errors, one for the top-level `required` field, and one for the nested field.  Z-schema only reports the error for the top-level field.  If you change the JSON to something like `var json = { "required": "valid", "nested": { } };`, the error is revealed.

[2015-09-02 05:49] zaggino commented on #130
@the-t-in-rtf should be fixed in `3.12.5`

[2015-09-02 05:50] #129 closed

[2015-09-02 06:32] IvanGoncharov commented on #114
@epoberezkin Very simple example ID field. I need to check that it have unique values in whole document.
Next one, I validate format which use JSON Schema internally, so I want to  validate it using [this](https://github.com/zaggino/z-schema/blob/master/src/SchemaValidation.js#L512) function.

JSON Schema document themselves  couldn't  be validate only with schema, for example #112
In my use case

[2015-09-02 06:36] IvanGoncharov commented on #114
I really want to implement this feature, but right now I stuck with my current work :disappointed:
I would try to find some time in next couple of months, but it would great if someone create PR before that.

[2015-09-02 07:47] zaggino commented on #131
Use https://github.com/zaggino/z-schema#breakonfirsterror for this.
Test attached: https://github.com/zaggino/z-schema/blob/master/test/ZSchemaTestSuite/Issue131.js

[2015-09-02 08:59] the-t-in-rtf commented on #130
Thanks again for the quick response, @zaggino.  Z-schema continues to be really useful for us, thanks for all the hard work.

[2015-09-02 08:59] #130 closed

[2015-09-02 09:05] the-t-in-rtf commented on #131
Thanks much for the quick response, @zaggino.  That works perfectly.

[2015-09-02 09:05] #131 closed

[2015-09-02 19:21] epoberezkin commented on #114
Indeed, it can't be and probably shouldn't be validated with JSON-schema. JSON-schema describes structure/format/values range validity. Semantic validity is out of its scope.

In my use case I working with very complex schema and this list show things that can't be validated using JSON Schema.

I disagree. The fact that "default" keyword has value that is invalid according to the schema doesn't ma

[2015-09-02 19:45] IvanGoncharov commented on #114
I agree :)

[2015-09-03 02:56] reesew opened #132 "validate against subschema?"
I'm attempting to use z-schema to validate data against schemas created using prmd. I'm wondering if z-schema has a way to validate an object against a subschema (e.g. in a definition) within the main schema document. For example, `validate({key: 1}, schema.definitions.widget)`. I can get this to work normally, but not in cases where the widget definition references something else in the schema (u

[2015-09-03 04:28] zaggino commented on #132
Ah, can you post a code sample? it's much easier to figure out what're you trying to do.

But if it's just matter of unresolvable reference, you can use after creating `validator` instance `validator.validateSchema(schemas);` where `schemas` is an array of all your schemas and then all references from your schemas should be saved inside the validator instance, so you should no longer get unresolva

[2015-09-03 14:51] reesew commented on #132
That sounds like exactly what I need. I'll try it out

On Wed, Sep 2, 2015, 9:28 PM Martin Zagora <notifications@github.com> wrote:

[2015-09-03 16:56] reesew commented on #132
It either didn't work as I expected, or I don't understand what was supposed to happen. I created a simple example to demonstrate what I'm seeing
https://gist.github.com/reesew/ccc1622ab3ff8c8d58fd

[2015-09-03 21:01] whitlockjc commented on #121
I think we should have a flag to ignore unknown formats as well since the JSON Schema specification says that the handling of unknown formats could be ignored but is up to the implementation: http://json-schema.org/latest/json-schema-validation.html#anchor106  This just bit me in https://github.com/swagger-api/swagger-editor/issues/612

[2015-09-03 21:34] zaggino commented on #132
Ah, now I see what you're trying to do.  It won't work like that easily. Why don't you split your schemas into multiple files and reference between them through id's? It's harder to maintain one large schema file than multiple smaller schema files ... see for example this test: https://github.com/zaggino/z-schema/blob/master/test/ZSchemaTestSuite/MultipleSchemas.js

[2015-09-03 22:00] mohsen1 commented on #121
That's a long dependency chain!
`z-schema->sway->sway-worker->swagger-editor`

[2015-09-03 22:08] #121 closed

[2015-09-03 22:16] zaggino commented on #121
published as `3.13.0`

[2015-09-03 23:11] reesew commented on #132
That's what I was afraid of, but using prmd to manage and combine all the schemas from individual yaml files has been really nice. What would it take to get it to work with the use case from that gist? Would it fit in z-schema's scope? Maybe I could start working on a fork?

[2015-09-03 23:29] zaggino commented on #132
I could probably implement something like:
[code]
which should fit your use case

[2015-09-04 17:10] reesew commented on #132
That sounds handy

[2015-09-05 10:41] #127 closed

[2015-09-07 10:35] simon-p-r opened #134 "Validate method"
Hi

I encountered a problem where if I pass an empty json object to above method it passes validation against a valid schema which is not correct.  I can make a PR if you want.

Best regards
Simon

[2015-09-07 11:09] zaggino commented on #134
Hi Simon, sure, exact code scenario or PR is appreciated.

[2015-09-07 14:17] simon-p-r commented on #134
Here is a snippet of code that is failing

     validator.validate({}, schema, function (errors, valid) {

           console.log(err, valid)

     });

This logs errors null and valid true.  Schema looks like this

    {
        id: 'dummy',
        properties: {
            dbRef: {
                type: 'object',
                format: 'dbRef',
                properties: [Object],

[2015-09-07 17:53] IvanGoncharov commented on #134
@simon-p-r You forget to add `"type": "object"` in top object.
According to [JSON Schema](http://json-schema.org/latest/json-schema-validation.html#anchor8):

[2015-09-07 18:02] simon-p-r commented on #134
It was a typo when I copied schema, the type object is at the correct level of object now.

[2015-09-07 18:09] IvanGoncharov commented on #134
Did you mean invalid schema?
Because your schema is **invalid**, it has `properties: [Object]` inside.
It strange why `z-schema` didn't throw an error.

[2015-09-07 18:12] simon-p-r commented on #134
I have updated schema, this is what was output of schema when I logged to console.  I tried to validate an empty json object against a valid schema and it passed the validation which is not desired behaviour.

[2015-09-07 18:16] IvanGoncharov commented on #134
You forget to add `required` property, see [this](http://json-schema.org/latest/json-schema-validation.html#anchor61).
So if you add in top object: `"required": ["dbRef"]`, validation will fail.

[2015-09-07 18:32] simon-p-r commented on #134
Ok thanks @IvanGoncharov that works as expected now.

[2015-09-07 18:32] #134 closed

[2015-09-07 18:39] IvanGoncharov commented on #134
It always better to check you schema in some of the 3rd-party online validators, like this one:
http://jsonschemalint.com/draft4/
And if multiply validators are consistent in their behaviour, it probably better to post it here:
https://groups.google.com/forum/#!forum/json-schema

[2015-09-07 18:40] simon-p-r commented on #134
:+1:  for the links

[2015-09-07 18:43] IvanGoncharov commented on #134
@zaggino If something similar written in  README.md it will save a lot of time both for users and for maintainer.

[2015-09-07 23:25] zaggino commented on #134
@IvanGoncharov z-schema will throw an error if schema is invalid, but this schema was valid, it just didn't have the `required` property

[2015-09-08 09:32] simon-p-r commented on #134
Yes sorry for the noise, just wasn't the behaviour I expected.  I have been meaning to do a PR on docs so will try to include this when I get round to it!

[2015-09-08 10:03] IvanGoncharov commented on #134
@simon-p-r No problem.

:+1:

[2015-09-10 13:27] losogudok commented on #132
[code]
+1 Very useful when you need to validate one field in a form.

[2015-09-10 23:58] zaggino commented on #132
[code]
implemented in `z-schema@3.14.0`

[2015-09-11 17:16] shinymayhem commented on #132
That appears to have worked. Thank you!

[2015-09-11 17:26] shinymayhem opened #135 "undefined subschema"
This is related to #132 and/or `~3.14.0`
When an invalid schemaPath is specified, such as
`var valid = validator.validate(cars, schema, { schemaPath: "definitions.car.definitions.chars" });`
(which doesn't exist) instead of
`var valid = validator.validate(cars, schema, { schemaPath: "definitions.car.definitions.cars" });`

the error is a little cryptic.
[code]
So it isn't really a bug, per se, but

[2015-09-11 17:28] reesew commented on #132
Thank you

[2015-09-11 17:50] #132 closed

[2015-09-13 22:47] BigstickCarpet opened #137 "Does the `validate()` method support circular/recursive references?"
According to Issue https://github.com/zaggino/z-schema/issues/76, circular/recursive references should be supported.  But it seems like they're only supported in very limited circumstances.

This schema validates fine:

[code]

However, validating this schema causes a stack overflow error:

[code]

Likewise, validating this schema _also_ causes a stack overflow error:

[code]

[2015-09-15 02:05] zaggino commented on #137
Hi @BigstickCarpet , can you please provide exact scenario, when these schemas fail? I've put your schemas into the test suite and it doesn't seem to throw any errors when validating the schemas. Feel free to submit a PR with failing unit test.

ref: https://github.com/zaggino/z-schema/commit/d4a8a38483b3b53470edcf7447ec83933e5711a1

[2015-09-15 02:10] zaggino commented on #135
Released your PR in `3.14.2`

[2015-09-15 02:10] #135 closed

[2015-09-15 12:39] BigstickCarpet commented on #137
@zaggino, thanks for adding my tests to your test suite!  I realize now that I should have been more clear in my original bug report.  The reason your tests are passing is that you're calling the `validateSchema()` method.  My tests are failing when I call the `validate()` method, passing-in a circular data structure that _should_ be valid according to the schema.

Here is a complete test suite:

[2015-09-17 11:24] zaggino commented on #137
@BigstickCarpet you can't have circular references in objects that are to be validated, because they are not valid jsons - the purpose of json-schema is to validate json's and not any javascript objects

[2015-09-17 11:24] #137 closed

[2015-09-17 11:26] zaggino commented on #137
If you call `JSON.stringify(json)` and you get `TypeError: Converting circular structure to JSON` then the object is not a valid JSON and can't be validated using JSON-Schema

[2015-09-17 15:03] simon-p-r opened #138 "Registering formats problem"
Hi

I have encountered a problem after registering formats in my unit tests where the state persists to my next test.  Not sure how to fix it at the moment, I have tried adding a static method on zSchema object to unregister after each test but this is very messy.

Thanks
Simon

[2015-09-17 19:22] zaggino commented on #138
Try
[code]

[2015-09-17 19:40] #138 closed

[2015-09-17 19:42] zaggino commented on #138
`ZSchema.unregisterFormat("xxx");` available in `3.15.1`

[2015-09-17 20:32] simon-p-r commented on #138
Thanks :+1:

[2015-09-24 21:21] simon-p-r opened #139 "Report.addError method"
Hi

Can a param of name or id be added to above method?  When validating an array of schemas it would be good to get the context of which schema failed along with the code, message and path.

Thanks
Simon

[2015-09-24 22:18] zaggino commented on #139
Can you submit a test or a code example?

[2015-09-24 22:28] simon-p-r commented on #139
[code]

This is my test schema that is failing due to issues with $ref plus maxLength and object properties as using strictMode true..

[2015-09-24 23:17] zaggino commented on #139
and what do you expect to see in the error? `dummy`? what if some other element has an `id` attribute, should we use the closest one, or the root one? this isn't very specific

[2015-09-24 23:23] simon-p-r commented on #139
Yes dummy would be a good way of identifying where schema is failing.  If root schema is used then name / id could be them split by / like paths are shown currently.  I only use lots of smaller schemas as I find one big tree of schemas inflexible and difficult to maintain.  I will do a PR if you want with test to show it working.

[2015-09-25 00:14] zaggino commented on #139
PR would be great, I don't mind this feature but a good set of tests needs to come with it.

[2015-09-25 08:28] simon-p-r commented on #139
I have made a start here https://github.com/simon-p-r/z-schema/commit/5d07f6adc57072f1ef6beeda9dd27f7d109e0a2f but can't get test to pass.  All other tests pass.

[2015-09-25 09:54] zaggino commented on #139
i'm afraid it's not as simple as you tried but the test is good, can you submit a PR with the test? i'll take a look at this when i'll have some time next week

[2015-10-08 13:30] ralfhandl opened #142 "assumeAdditional complains about $ref"
I checked some schemas against draft04 and switched on assumeAdditional to check for undeclared properties. This resulted in lots of errors complaining about 'Additional properties not allowed: $ref'.

When I experimentally checked draft04 against itself I also got such an error:

{ code: 'OBJECT_ADDITIONAL_PROPERTIES',
  params: [ [ '$ref' ] ],
  message: 'Additional properties not allowed: $ref'

[2015-10-08 21:22] zaggino commented on #142
Can you please submit a testcase?

[2015-10-09 05:37] ralfhandl commented on #142
Hi Martin,

This reproduces my problem:

[code]
The file json-schema-draft-04.json contains the draft00 schema at http://json-schema.org/draft-04/schema#

Thanks in advance!
--Ralf

[2015-10-13 17:10] ralfhandl commented on #142
In the meantime I'm proceeding by manually placing "additionalProperties":false into my schemas and explicitly allowing JSON references with anyOf constructs that include objects only having a $ref property. Now I get another surprising error:

   message: 'Additional properties not allowed: __$refResolved',

I assume these properties are injected by z-schema when resolving references.

[2015-10-15 10:31] simon-p-r opened #143 "validateSchema validating incorrectly to true"
Hi

I have this schema which is being validated to true, here is a sample of a schema that passes validation.  I expect it to be false due to format custom not being a registered format.

This doens't fail
[code]

[2015-10-16 14:39] red-0ne opened #144 "Question: structure of options parameter in validate() method."
In order to make a typescript definition entry for z-schema. We want to be as strict as possible regarding the manipulated data structures.

So when we tried to define the `options` object passed to `validator.validate()`, we found that the only option used is `options.schemaPath`. Are we missing something, or declaring it as `type ValidatorOptions = { schemaPath: string }` is sufficient?

[2015-10-16 14:59] ami44 opened #145 "es6/yield"
Hello, have you an example to use z-schema with yield
Thanks, Ami44

[2015-10-16 21:55] zaggino commented on #145
Hi Ami44, `z-schema` does all the main stuff synchronously, there's no need for `yield` or `await`

[2015-10-16 21:57] zaggino commented on #144
Hi @red-0ne , that's right, it's the only option for `validate` method right now, used for validating sub-schemas.

[2015-10-17 20:18] ami44 commented on #145
thanks

[2015-10-17 20:18] #145 closed

[2015-10-18 16:20] red-0ne commented on #144
Hi @zaggino, here is what I came with. Could you please check if it's ok or not?
https://gist.github.com/red-0ne/91031452946dfe32250d

[2015-10-20 12:58] the-t-in-rtf opened #146 "Only the first failure in an `allOf` block is returned as an error..."
Even if`breakOnFirstError` is disabled, an `allOf` block with multiple failing rules only returns information about the first failing rule.  For example, if I want to validate a password, I might use code like the following:

[code]

This script returns the following output:

[code]

There is no mention that two rules failed.  This means in practice that users may be presented with one error that

[2015-10-22 05:46] zaggino commented on #144
Hi @red-0ne , sorry for the late answer, seems right, but I've never used TypeScript so this is not very familiar to me.

[2015-10-22 05:55] zaggino commented on #142
Hi @ralfhandl , `noExtraKeywords` rule applies only when schema you're using doesn't have parent schema. If it has parent schema (`$schema` keyword), it's up to the parent schema to decide whether extra keywords are or aren't allowed.

[2015-10-22 06:39] zaggino commented on #146
Published fix as `3.15.4`

[2015-10-22 19:58] braco commented on #120
+1, would like to use one of these json schema validators as a linter. Line numbers required for this task.

[2015-10-22 22:37] zaggino commented on #120
It's possible to write a library which would collect errors from `z-schema` and then walk the AST tree to get the line numbers, but that doesn't really belong to this project.

[2015-11-02 23:40] #146 closed

[2015-11-02 23:40] #144 closed

[2015-11-02 23:40] #120 closed

[2015-11-02 23:41] zaggino commented on #139
Fixed by https://github.com/zaggino/z-schema/commit/d3d0566c7f15a563b92032f62e6919a5c6defd96

[2015-11-02 23:41] #139 closed

[2015-11-02 23:51] zaggino commented on #142
So looking into this, `draft-04-schema` doesn't specify `$ref` explicitly in `properties` or `patternProperties` and it also doesn't specify `additionalProperties` in the root. Using `assumeAdditional: true` means validator will set `undefined` additionalProperties to `false` and hence the validation will fail. This behaviour is correct.

[2015-11-02 23:51] #142 closed

[2015-11-02 23:59] zaggino commented on #143
Can you please submit a failing test?

[2015-11-03 00:01] zaggino commented on #142
@ralfhandl you can use: `assumeAdditional: ["$ref"]` to allow `$ref` specifically in version `3.16.0`
see https://github.com/zaggino/z-schema/commit/dcf3e4650733d28d5572553e18a6afd77e77ec9f for details

[2015-11-03 08:46] ralfhandl commented on #142
Thanks, just what I needed!

[2015-11-09 09:52] DNR500 opened #150 "Problems using browser version of z-schema when noTypeless set to true."
Hi,

I've been trying to get a version of the client-side z-schema working with jasmine in a headless browser for testing.

Everything seems to work fine until I set the option noTypeless to true.

I've put together a small sample of the code here

https://github.com/DNR500/z-schema-example

The gruntfile passes the json schemas to the unit tests via the templateOptions in the jasmine task

https:

[2015-11-10 04:48] zaggino commented on #150
Hi Nathan, when I clone your repo and run `grunt jasmine` it freezes for me:
[code]

[2015-11-10 04:48] zaggino commented on #150
What's the complete error json? `REMOTE_NOT_VALID` error should contain some child errors to say, why the remote is not valid.

[2015-11-10 15:16] boazshor opened #151 "minProperties for object type doesn't work"
I created a json schema as follows:
{
    "type": "object",
    "properties": {
            "props":{ "type": "object","minProperties": 1}
     }
}

and passed the validate function the schema above and the following object:
{
   "props":{}
}
the validation returned that the object is valid and no errors were found.

Thanks.

[2015-11-10 18:13] zaggino commented on #151
you're doing something wrong, I put together a testcase with your example and it passes fine: https://github.com/zaggino/z-schema/commit/108fd65e83512d4867ba13b9c97455ff860e2b92

[2015-11-10 19:00] DNR500 commented on #150
Thats odd. I've just clone the project on a different machine to what I originally developed the project on. managed to clone it and after an npm install, running grunt jasmine worked fine.

node version - v4.0.0
npm version - 2.14.2

Error looks like the below

[code]

[2015-11-11 18:23] whitlockjc opened #152 "Support Buffer objects"
What do you think about supporting `Buffer` objects to represent strings?  Take for example Express.  It converts `String` instances to `Buffer` instances and if I try to validate it as a string with z-schema, I get a type mismatch error of course: `Expected type string but found type object`.  I thought about submitting a PR but I didn't want to make the assumption that you'd even want to support

[2015-11-11 18:50] whitlockjc commented on #152
By the way, the first thing I can think of that might throw a wrinkle in this is turning a `Buffer` into a `String` to do the actual validation might require you knowing the encoding.  This could have an impact in the API.

[2015-11-11 21:11] zaggino commented on #152
What'd be the benefit of directly supporting Buffer instead of just letting it to the developer to do the buffer -> string conversion before calling z-schema?

[2015-11-11 21:17] whitlockjc commented on #152
Good question.  I'm not 100% sure who *should* own it.  I could see requiring the caller to do it but that quickly gets nasty in the event of arrays/objects where you have to do a precursory walk of the tree to translate things only to have z-schema walk the tree again.

I'd understand why you wouldn't want to support it but with `Buffer` being used in a number of Node.js libraries like Express, I

[2015-11-11 21:22] zaggino commented on #152
In this case I think it'd give the project code complexity and branching it doesn't really need. Also I'm not sure about web browser support.

[2015-11-11 22:12] whitlockjc commented on #152
Works for me.  I'll work around it and we can revisit if need be.  Thanks for your input.

[2015-11-11 22:12] #152 closed

[2015-11-18 13:26] danfowler opened #153 "custom "format" attributes"
From http://json-schema.org/latest/json-schema-validation.html#anchor104

[code]

My [schema](https://github.com/dataprotocols/schemas/blob/master/data-package.json) uses custom values for "format" and so fails validation using z-schema.  Is there a way to disable validation for this keyword?

[2015-11-20 21:19] whitlockjc opened #154 "Compiling multiple schemas with shared references without ids"
Let's say I have two schemas:

[code]

[code]

The idea is that I want to validate a value against the second schema but it's got references to the first schema.  The first schema does not have an `id` so so z-schema fails to compile the two schemas.  Is there any way to compile a reference that is dependent/linked/... against another without using `id` properties?

Programmatically I can rectify

[2015-11-24 06:21] zaggino commented on #154
I don't think what you're trying to do is valid, `#/definitions/Person` should point to the `Person` definition in the same schema, not in a different schema. Perhaps you want to merge those two before validating?

[2015-11-24 06:32] zaggino commented on #153
There's already an option `ignoreUnknownFormats`, doesn't it do what you need? https://github.com/zaggino/z-schema#ignoreunknownformats

[2015-11-24 07:12] whitlockjc commented on #154
That's what I figured.  The two options I see:

1. Merge schemas
2. Add an `id` to the first schema and update all `$ref` to be prefixed by the same id so that it looks like `{id}{$ref}`

That second option works with z-schema as expected, I tried it.  I guess we can close this.  I just wanted your opinion before I started a PR.

[2015-11-24 07:12] #154 closed

[2015-11-25 23:01] zaggino commented on #150
[code]
this is defined as `"default": {},` so `noTypeless` is correct to throw an error

[2015-11-25 23:10] zaggino commented on #150
[code]
is reffering to: `{ "default": 0 }` which again doesn't have type defined

[2015-11-25 23:10] zaggino commented on #150
[code]
is reffering to
[code]
and there's also type missing for the `positiveIntegerDefault0`

[2015-11-25 23:10] #150 closed

[2015-11-30 16:10] simon-p-r opened #155 "Custom formats function"
Hi @zaggino

I am wondering whether you would consider expose the parent object context in the custom format functions.  For brevity a simple pseudo example

Schema

[code]
lookupformat function

[code]
The lookup object used in function is something like this

[code]

Data that passes validation

[code]
Data that fails validation
[code]

[2015-11-30 19:26] zaggino commented on #155
Why instead of using format lookup under county you don't put it directly on object and check that like this? It makes more sense to put format there since it relies on properties of the object. The thing you're proposing is not a good approach.
[code]

[2015-11-30 20:32] simon-p-r commented on #155
That was probably not a good example, basically at that level of object a key would determine how that other keys of object are validated.  This [proposal](https://github.com/json-schema/json-schema/wiki/switch-(v5-proposal)) for v5 of json schema is something similar to what I am requesting.

[2015-12-01 11:20] danfowler commented on #153
Ah, I think the reason I missed it is because it isn't available through the CLI.  Thanks :).

[2015-12-01 13:33] simon-p-r commented on #143
Closed as per #149

[2015-12-01 13:33] #143 closed

[2015-12-04 02:41] #151 closed

[2015-12-04 03:17] zaggino commented on #153
fixed
[code]
works in 3.16.1

[2015-12-04 03:17] #153 closed

[2015-12-23 13:39] danfowler commented on #153
:+1:

[2016-02-08 19:01] reesew opened #157 "`setSchemaReader` not handling references"
I'm trying to work with cached remote schemas synchronously, but `setSchemaReader` is having problems figuring out what to do with the references within those. Not sure how else to explain it except with an example.

The following works as expected

[code]

But the documentation seems to suggest that I can use setSchemaReader to do something similar. The below hasn't worked because it parses the u

[2016-02-17 22:52] nicolasartman opened #158 "Getting the "initial cause" of an error"
I've noticed that, for slightly deep schemas, the "real" invalid field that caused the error is sometimes buried deep in `inner` error objects with incomplete paths, and I'm not sure how to distinguish it from the other `inner` errors.

For example, for a [schema snippet like this](https://gist.github.com/nicolasartman/57a2542b1bc6e9add8db), a failure to conform to the `pattern` on the innermost c

[2016-02-22 23:35] zaggino commented on #158
Can you post the full JSON of the validation result here?

[2016-02-23 14:55] danse opened #160 "Schemas might get modified in place and lead to a `Maximum call stack size exceeded` error"
Hey, i wasn't able to come with a test case for this, but i thought that a general warning to devs might be helpful as well. I am using version `3.4.3` of Z-schema, so this could have been fixed in more recent releases.

Running `validate` i was getting a `Maximum call stack size exceeded` error. I found out that it was risen by a deep cloning function, because the schema i was passing to `validat

[2016-02-23 22:31] zaggino commented on #160
Can you submit a test-case for the issue?

[2016-02-24 09:37] danse commented on #160
I think that it would be hard for me to extract a test case, since i think to be using Z-schema normally so i wouldn't know how to reduce the case. However, luckily the project having this problem is open source.

On this branch https://github.com/danse/data-models/tree/test-case-for-z-schema-160 i reproduced the error, just `npm install` and `npm test` should show you the error. The commit at `HE

[2016-02-26 21:51] nicolasartman commented on #158
sure thing—here it is: https://gist.github.com/nicolasartman/01d4c1837d5692091047

[2016-02-29 23:16] shinymayhem opened #163 "not allowing properties from `allOf`"
I'm attempting to extend a base schema using `allOf`, but it is conflicting with `additionalProperties=false`. Here's an example:

schema
[code]

the following data gives `Missing required property: links'` as would be expected
[code]

but adding the `links` property
[code]
returns the error `Additional properties not allowed: links`

[2016-02-29 23:21] shinymayhem commented on #163
nevermind, this is apparently a limitation of draft 04

strange how i always seem to find the answer right after i post the question somewhere...

[2016-02-29 23:21] #163 closed

[2016-02-29 23:23] simon-p-r commented on #163
Yes this is by design, draft v5 will hopefully address some of these issues.

[2016-04-05 21:33] #114 closed

[2016-04-19 15:43] nicolasartman commented on #158
@zaggino sorry for the bother; any suggestions on how I might better identify the root cause of such validation errors?

[2016-04-19 23:53] zaggino commented on #158
@nicolasartman reading the json is quite easy for me and there's no definite programming solution for what you want, ie getting the real error, lets dig into your report:

Base error does say that `navigation/items/1` `Data does not match any schemas from 'anyOf'` and from there you check inner which specifies a reason, why the data does not match, for every schema in `anyOf`

1. anyOf schema does

[2016-04-21 02:52] nicolasartman commented on #158
As far as I understand and have tried, fixing 1, 2, 3b, or 3c (anything except 3a) won't actually make the validation pass, because it'll still be failing other validations. For example, if one fixes 3b and removes the path property, 3c will still be present (and a new failure, a missing `path` property, will appear).

Reading the code, it appears to me that the the validator builds up nested list

[2016-04-21 11:53] zaggino commented on #158
Well you could fix 1) by removing children and adding path property so it'd pass the first anyOf branch and the whole validation would succeed.

But you answered it. Doing any assumptions about the schema would be wrong for the validator so this is really not resolvable.

[2016-04-21 11:53] #158 closed

[2016-04-26 22:03] whitlockjc commented on #160
I've seen this as well and the way I addressed it was I pass a cloned schema to z-schema to avoid the original being modified.  This might help until there is a fix.

[2016-05-04 15:59] richvdh opened #165 "$ref incorrectly resolved against top-level document"
Suppose we have three schema files:

`main.json`:

    {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "type": "array",
        "items": {
            "$ref": "defs/items.json"
        }
    }

`defs/items.json`:

    {
        "type": "object",
        "properties": {
            "member": {
                "$ref": "member.json"
            }
        }
    }

`defs/member.

[2016-05-10 05:44] saharj opened #166 "Add a warning for schemas with no type"
Originally reported here: https://github.com/swagger-api/swagger-editor/issues/891

A schema like `{"enum": [1,2]}` is being validated with no warning

[2016-06-03 18:02] oschwald commented on #69
I also ran into this. Wouldn't it be possible to just test that the number is an integer within an extremely small delta?

[2016-06-13 18:01] bosco-li opened #167 "RangeError: Maximum call stack size exceeded with large YAML file"
Hi there, we are getting a RangeError with this file -> https://dl.dropboxusercontent.com/u/14439503/huge.yaml

The stack seems to show the error is from this method -> https://github.com/zaggino/z-schema/blob/master/src/JsonValidation.js#L525

We have a client waiting for this, really hope you can help with this, thank you so much!

[2016-06-15 08:32] cgarnier opened #168 "format validators"
Hello,
I dont understand why when the value type is not the expected one, you assume value is valid.
Is there a reason for that ?

https://github.com/zaggino/z-schema/blob/master/src/FormatValidators.js#L47
For exemple, for the email validator. If i put and integer or something else then a string, it assuming value is valid.

[2016-06-15 08:40] IvanGoncharov commented on #168
@cgarnier It's implemented according to spec:
http://json-schema.org/latest/json-schema-validation.html#anchor104

Just add `type` keyword in your schema it will also help with other things.
Like `minimum` is will validate strings, and many similar things.
I recommend you to enable this flag:
https://github.com/zaggino/z-schema#notypeless

[2016-06-15 08:57] cgarnier commented on #168
Ok, thanks!

[2016-06-15 08:57] #168 closed

[2016-06-21 09:15] simon-p-r commented on #69
In ES6 you can use [Number.isInteger](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isInteger) or you can round decimal points by using [Number.toFixed](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toFixed)

[2016-06-28 02:09] PeterDaveHello opened #169 "Any doc about how to upgrade v2 to v3?"
I'm wondering if there is any doc about how to upgrade v2 to v3, so that it can be much more easier.

[2016-07-28 05:36] shinymayhem opened #170 "cannot reference self when absolute `id` defined"
when a `$ref` is set to something starting with a '#', the schema validates as expected, unless the `id` property is set to an absolute uri
[code]

output
[code]

[2016-08-10 08:21] angileriDE opened #171 "Additional properties validation possible?"
Is it possible to validate, if the object contains properties which are not defined in schema-properties?

[code]

i would like to have the result to be `false`

[code]

[2016-08-22 14:13] nirendypt commented on #171
You should take a look on #80

[2016-08-22 15:02] angileriDE commented on #171
thx, that worked!

[2016-08-22 15:02] #171 closed

[2016-09-20 17:28] TheToolbox opened #173 "Gauging Interest in PR for removing Request as dependency"
The request library now offers more features than are necessary in z-schema.
There were two total references to it by my measure, one of which is a test ([1](https://github.com/zaggino/z-schema/blob/master/bin/z-schema), [2](https://github.com/zaggino/z-schema/blob/master/test/spec/AutomaticSchemaLoadingSpec.js)).

Removing the dependency and writing nodejs native code was a <20 LOC difference, an

[2016-09-20 21:06] zaggino commented on #173
Hi, I'll merge your PR if no tests fail, simple :-)

[2016-09-21 02:34] #173 closed

[2016-09-26 16:46] bgaluszka opened #175 "Validation for defined properties fails with "additional properties not allowed""
This

[code]

fails for me with

[code]

[2016-09-26 16:50] bgaluszka commented on #175
Just to clarify I wanted to test if `data` doesn't have additional properties not defined in schema.

[2016-09-26 22:49] zaggino commented on #175
@bgaluszka your object doesn't pass second schema in `allOf` because the second schema doesn't specify `id`

[2016-09-26 22:50] zaggino commented on #175
use
[code]

[2016-09-27 08:17] bgaluszka commented on #175
I know how to make it pass :) That's not an issue here. Schema definition is valid and validator should validate it properly but it isn't.

[2016-09-27 08:49] zaggino commented on #175
`assumeAdditional` is a feature which dont allows unspecified properties. in this case one of your `allOf` schemas is missing `id` property ... it will pass the validation if you turn the feature off

[2016-09-27 09:01] bgaluszka commented on #175
But shouldn't `allOf` combine properties of all schemas in it's array before validating it (or something like that)? Point of adding `assumeAdditional: false` in my case was exactly what you said, I don't want additional properties. So something like this fails:

[code]

[2016-09-27 09:14] bgaluszka commented on #175
Ok, seems like I misunderstood how it works and that schemas are evaluated independently http://stackoverflow.com/a/23001194 - `schema1 and schema2 have no knowledge of one another; they are evaluated in their own context.`

[2016-09-27 09:14] #175 closed

[2016-09-27 16:52] shinymayhem commented on #170
same result when remote reference set
[code]

[2016-09-27 18:19] shinymayhem commented on #170
I've narrowed it down to the SchemaCompilation `mergeReference` function, it sets the reference to `http://schemas.example.com/#definitions/color` instead of `http://schemas.example.com/color-1.0#/definitions/color`. I can fix it by adding a trailing `#` (or `/`) to the `id`, i.e. `http://schemas.example.com/color-1.0#`. Is that the expected behavior? I don't understand the purpose of the trailing

[2016-10-08 17:03] bugventure opened #177 "Benchmark results are a year old now"
It'd be nice if you can update them with latest versions of the validators. Thanks.

[2016-11-20 17:24] Sebastian-G commented on #72
@zaggino you referred to master.

Links with right CommitID (updated):

[2016-12-01 21:16] ikokostya opened #179 "Possible formats conflict"
**Problem**

Currently `z-schema` uses one shared storage for all custom formats. There are two possible errors:
* Different instances of validator can't use different formats with the same name.
* I can unexpectedly get format which was registered another npm module, because `npm v3` try to install dependencies without nesting.

**Suggestion**

I suggest to add solution when custom format can be

[2016-12-03 19:57] ikokostya commented on #179
@zaggino What do you think?

[2016-12-03 20:05] zaggino commented on #179
👍 agree with you, if you'll open a PR with tests passing i'll merge it

[2017-01-10 14:36] raphaelkoszalka opened #182 "getLastErrors() returning only last one if occurs on minLength"
Hello everyone,

I'm using z-schema to validate my forms, but i've found when testing my application that if i have lets say 4 fields with minLength setted, the getLastErrors() method returns only the last one, not all errors.

Does anyone have a fix for this?

[2017-01-18 00:51] zaggino commented on #182
Use `breakOnFirstError: false` option.
https://github.com/zaggino/z-schema#breakonfirsterror

[2017-01-18 00:51] #182 closed

[2017-04-25 00:22] itslenny opened #183 "Validation passes with any invalid flag"
If you pass in an invalid flag to `z-schema` it outputs `schema validation passed` even when given invalid data

e.g.

[code]

[2017-04-25 00:27] itslenny opened #184 "breakOnFirstError does not work in CLI"
I'm trying to disable break on first error using the cli `z-schema` command

Everything works fine with or without this flag, but when I try to set it to false it throws errors because it's trying to open `false` as a json file.

I tried both of these options:

[code]

both resulted in this error:

[code]

[2017-04-25 00:39] itslenny commented on #184
I found a fix for it. I have it working locally. Not sure if I'll have time to do a PR or not, but here's the solution for reference:

in bin/z-schema

Line 33. Add the input `<b>` and a way to parse the string input into a boolean.
[code]

Line 42. explicitly check for an undefined type because `false` is obviously falsey but a valid input for this
[code]

Boolean parser (put this anywhere)
[code

[2017-05-08 01:56] handrews commented on #51
draft-06 is out!

[Guide for core and validation](https://github.com/json-schema-org/json-schema-spec/wiki/FAQ:-draft-wright-json-schema%5B-validation%5D-01)
[Guide for hyper-schema](https://github.com/json-schema-org/json-schema-spec/wiki/FAQ:-draft-wright-json-schema-hyperschema-01)

[2017-06-18 02:14] bwwilliam opened #186 "Uncaught ReferenceError: require is not defined"
I am using the angular seed project as the base [AngularSeed](https://github.com/mgechev/angular-seed) project.
I then use [angular2 schema form](https://github.com/makinacorpus/angular2-schema-form) to produce the dynamic forms.
And the dynamic form project has dependency on z-schema.
After doing the treeshaking, aot build (build.prod.rollup.aot), it shows the following error in the developer too

[2017-06-18 02:38] bwwilliam commented on #186
If I change the reference from `let ZSchema = require('z-schema')` to `import * as ZSchema from 'z-schema/dist/ZSchema-browser'`
This is what I got
![image](https://user-images.githubusercontent.com/18526495/27257697-c9a100a6-5433-11e7-8894-7c71be2ffaf6.png)

[2017-06-18 03:53] zaggino commented on #186
hi, `ZSchema-browser` is already browserified file, maybe try just using `import * as ZSchema from 'z-schema'` when using roll-up ?

[2017-06-18 07:41] bwwilliam commented on #186
Hi @zaggino , thanks for your response. I tried it and unfortunately it did not work. `https://github.com/bwwilliam/poc/blob/master/src/client/app/shared/schema-form/schemavalidatorfactory.ts`
Here is the repo if you do not mind to take a look [Source Code](https://github.com/bwwilliam/poc)

[2017-06-28 15:44] songoo opened #188 "How to get ID of error element"
Hi, at error I can get .path, but in cause of arrays path contains also number of item (/1/) .  How can i get id of error element ?

I would like add additional error text for some of my enum elements, for now i have .path set as array and compare only last part of path. So i have to take care to have unique keyst in my schema.

Tnx for any help!

[2017-08-03 20:03] kevinburke opened #189 "getLastErrors is not thread safe"
If I am sharing a validator instance across multiple Node workers running on different CPU processes, `getLastErrors` is not a safe API. Consider the following sequence of events:

- Thread 1 calls `validate` and stores a value on `lastReport`
- Thread 2 calls `validate` and stores a value on `lastReport`
- Thread 1 calls `getLastErrors` and retrieves the error from Thread 2.

This may expose priv

[2017-08-03 20:23] kevinburke opened #190 "remove async mode?"
It seems like all of the validators run synchronously, and the only benefit to the provided async mode is to run in the next tick. Users may be confused by the presence of an asynchronous mode that the package is attempting to open a socket or a file or some other syscall that involves I/O.

A user could handle moving calls to the next tick themselves by calling `process.nextTick` and then using t

[2017-08-04 08:08] simon-p-r commented on #190
@kevinburke functions to validate custom formats are allowed to run async therefore this mode should not be removed.  Must other validators run sync which is one of the major advantages of this library.

[2017-08-28 23:57] pgonzal opened #191 "Built-in draft 4 metaschema is unusable with strict options"
Internally ZSchema does this on startup:

[code]

This allows you to reference the metaschema when writing your own schema, like this:

[code]

However, if you try to turn on ZSchema's "strict" options, the "my-example.schema.json" fails to compile because the Draft4Schema itself violates most of the strict rules.

What's the right fix for this?

1. Change the Draft4Schema to be more rigorous, so

[2017-08-29 00:53] zaggino commented on #191
Hi @pgonzal , both 2 and 3 (as an configurable option) would be acceptable as pull requests.

[2017-09-13 07:51] tbflw opened #192 "Possible memory leak"
We use node-swagger in our node production services and since late August we have been hunting down a memory leak in all services recently deployed. It turns out that the leak is caused by a new release of z-schema (3.18.3) being dragged in as a downstream dependency of swagger-node-runner. We suspect that the implementation of ReferenceCache in [this commit](https://github.com/zaggino/z-schema/co

[2017-09-13 08:00] zaggino commented on #192
cc @jfromaniello

[2017-09-13 09:36] zaggino commented on #192
@tbflw do you think using `WeakMap` instead of `Map` would solve the issue? Or would be better to just revert the commit?

[2017-09-13 12:03] jfromaniello commented on #192
My change will leak if you do something like this:

[code]

i.e. if you define the schema each time you validate.

This was a problem on previous version of this library but it was "solved" in recent versions by doing `_.deepEqual` https://www.npmjs.com/package/lodash.isequal . I know this because I was using the old version and I found the leak in some path of our application.

**deepEqual does p

[2017-09-13 14:05] tbflw commented on #192
I certainly agree on the requirement of the lib being fast and compiling and validating the schema upon every request does not seem like a good idea. On the other hand, the leak is bad. I haven't looked into how validation is called from upstream (sway, swagger-node-runer). Would it be possible for you guys to investigate this or collaborate with those projects on finding a solution?

[2017-09-13 14:40] tbflw commented on #192
I had a look at how sway uses z-schema, and it is indeed being used in the way you suggested. In [sway/lib/helpers.js](https://github.com/apigee-127/sway/blob/6a5182bdf0beadd25dd90729ed16880ea5cac276/lib/helpers.js) lines 434 - 451:
[code]
@jfromaniello Can you suggest a possible change in sway to better use z-schema avoiding validating the schema on each call and avoiding the leak at the same tim

[2017-09-15 05:11] zaggino commented on #192
`npm deprecate z-schema@3.18.3 "memory leak bug, revert to 3.18.2"`

[2017-09-17 05:46] osher commented on #192
+1

[2017-09-19 11:18] doc-tongue opened #194 "Validation Problems - Bug or Seat to Keyboard Error?"
I am getting an unexpected error.  I am expecting the wrong type for the value of meta.domain.  I am passing an object when it should expect a string in the array.  However, it appears not to be utilizing the $ref's at all.   What am I doing wrong?

I am using
[code]

As in the example however,

Data:
`{meta: {domain: [{id: "circusliving.ca"}]}, name: {en: "ddd"}, description: {en: "dddx"}}`

Data

[2017-10-28 07:03] pgonzal commented on #191
Please take a look at my PR #197

[2017-12-04 20:37] whitlockjc opened #198 "API to get corresponding schema path for data and path"
Let's say you have a JSON Schema document and an object being validated.  What if I wanted to know what portion of the JSON Schema document corresponding to a particular path within the data being validated.  For example:

**JSON Schema**

[code]

**Data**

[code]

How can I get from `["id"]` _(the path in the data object)_ to `["properties", "id"]` _(the path in the JSON Schema document)_?  This

[2017-12-06 09:46] zaggino commented on #198
Well, the errors should already point to place where the validation failed, so the API should be possible. You probably would need to propose an API, sample inputs/outputs and then we could see how the implementation could be done. It's been a while since I've worked on this so I don't remember the exacts.

[2017-12-06 17:59] whitlockjc commented on #198
Yes, for validation errors the path is there.  I was just wondering about a more general API that isn't directly tied to validation.

[2017-12-12 23:11] WaldoJeffers commented on #192
What's the current status of this bug? Is this fixed in z-schema v.3.19.0? Or does something needs to be changed in sway? I couldn't find any issues related to this on the sway repo.

[2017-12-14 11:02] zaggino commented on #192
Reverted the problematic commit and fixed since `3.18.4`

[2017-12-14 11:02] #192 closed

[2017-12-14 11:50] WaldoJeffers commented on #192
Thanks @zaggino :)

[2018-01-12 16:15] renestalder commented on #169
There was a breaking change some when, but I can't find any documentation on how to upgrade. A changelog or upgrade guide would be very useful.

[2018-01-12 17:43] zaggino commented on #169
3.0 was a complete rewrite because 2.0 used a lot of promises which made it slow, compare you current usage with the one in the docs

speed benchmarks comparing v2 and v3 (and also others) are here: https://rawgit.com/zaggino/z-schema/master/benchmark/results.html

[2018-01-14 22:38] renestalder commented on #169
That's easier said than done depending on the amount of projects and the project itself. I really would recommend to add a changelog for the future or at least describe important changes in the release section. This way it's going to be impossible to keep up to date.

[2018-01-24 17:44] KonstantinSviridov opened #199 "Circular references between two (or more) chemas cause a dead loop"
Hi!

While circular references within a single schema are supported, the situation is different for circular references between several schemas. The code is
[code]
And the output is
[code]

Trying to [pass both schemas in array](https://www.npmjs.com/package/z-schema#compile-arrays-of-schemas-and-use-references-between-them)
[code]
produces invalid errors:
[code]
In the last case validation passes

[2018-02-02 18:57] kallaspriit opened #201 "Async validators are not run if any of the sync validators found an error."
This happens regardless of breakOnFirstError setting. I'm proposing a fix a

*Report.js:60*
[code]

Created a [pull request](https://github.com/zaggino/z-schema/pull/200).

[2018-02-05 17:23] zaggino commented on #201
@kallaspriit your fix has been published as `z-schema@3.19.1`

[2018-02-05 17:23] #201 closed

[2018-02-18 23:31] handrews commented on #51
draft-07 is out! (or rather, was out in November)

[Guide for core and validation](http://json-schema.org/draft-07/json-schema-release-notes.html)
[Guide for hyper-schema](http://json-schema.org/draft-07/json-hyper-schema-release-notes.html)

Note that implementations that do not support at least draft-06 will soon be moved to an "obsolete" section of the json-schema.org web site.  Implementations

[2018-04-19 22:50] amarzavery opened #202 "Add different error codes for value not present in enum v/s case not matching"
Today z-schema [emits ENUM_MISMATCH error](https://github.com/zaggino/z-schema/blob/8c6bb4aa1f51f87984cd4821057871a1c5e241ae/src/JsonValidation.js#L257) when it cannot find a value that exactly matches one of the values in the enum array. This is good.

However there are cases where we are interested in knowing that the mismatch
 happened due to case sensitivity or because the value was not found.

[2018-04-19 22:52] amarzavery commented on #202
/cc @vladbarosan- FYI.

[2018-04-23 07:53] zaggino commented on #202
hi, @amarzavery feel free to put up a PR, ideally without any breaking changes, new option sounds good

[2018-04-24 05:50] #202 closed

[2018-04-24 17:49] vladbarosan opened #204 "Allow override of Json validators"
These are defined here https://github.com/zaggino/z-schema/blob/master/src/JsonValidation.js  and are not exported.

Since there are various scenarios for users can we allow those to be overridden ?

[2018-04-24 21:26] zaggino commented on #204
Hi, they are implemented according to JSON schema spec. Not sure it'd be wise to override them? Can you provide your use-case? But if you want to create a PR with test and expose these, I don't mind it.

[2018-04-24 21:31] vladbarosan commented on #204
@zaggino thanks for the quick reply.

The scenario's would be when you would want to differentiate more in detail than the existing errors codes. ( one example whould have been the difference between enum case mismatch and just a wrong value.

In general there might be various reasons for people wanting to customize the validation ( maybe even to relax it from the official JSON ).

The only valid

[2018-05-14 14:02] sylar107 opened #207 "async custom format validator does not work in oneOf"
Problem:
async custom format validator does not get called in oneOf.

Sample test:
[code]

[2018-05-15 08:11] sylar107 opened #209 "async custom format validator does not return correct path"
Problem: Custom async format validator does not return correct path, for example it returns "#/" instead of "#/something".

Sample test:
[code]

[2018-05-17 15:05] greenkeeper[bot] opened #210 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/zaggino/z-schema/compare/master...zaggino:greenkeeper%2Fupdate-to-node-10"

[2018-05-25 10:17] a1300 opened #213 "Only first item in string array is verified against custom format"
Hello :-)

### Environment
node: `v8.0.0`
z-schema: `^3.22.0`

### Description
* I registered a custom format `bip39`. I used this format for the items of a string array
* BUG: Then only the ___first___ item in the array is verified against the format
[code]

### Bug reproduction
Repository [z-schema-possible-bug](https://github.com/a1300/z-schema-possible-bug)

Could someone tell me if this is a

[2018-05-29 08:59] zaggino commented on #213
As you can find here in official examples: http://json-schema.org/example1.html

[code]

items should be an object specifying a type, you're using an items array which means you can specify type of every item separately if you'd want to like

[code]

[2018-05-29 12:35] kallaspriit commented on #209
Same issue here, makes it very hard to show the user where the mistakes filling out a form were made.

[2018-05-29 13:18] a1300 commented on #213
Thanks, you are right!
Issue can be closed :+1:

[2018-06-19 21:29] whitlockjc opened #214 "discuss: Custom formats are module-scoped"
What was the reasoning behind making `ZSchema.registerFormat` instead of `validator.registerFormat`?  As it stands right now, using multiple `ZSchema` instances in the same process with different custom formats is impossible because the registry of custom formats is stored in the `ZSchema` module itself, not in the `ZSchema` instance.  Before I blindly ask for, or submit a PR to, make the custom f

[2018-06-26 05:40] zaggino commented on #214
Yeah, in this case, that's bad. It probably should have lived on the instance, not the class. I don't see a downside in changing that with a PR.

[2018-06-26 15:14] whitlockjc commented on #214
I'll get started.

[2018-07-11 14:12] cmrd-senya opened #215 "Schema fails to compile when id doesn't end with # and there are self-references"
The following schema is valid:

[code]

But when it passed to z-schema it fails to compile. The same schema with the `id` equal to `http://my.site/myschema#` works.

It is easy to verify by changing the existing test in the z-schema testsuite:
[code]

[2018-07-27 23:18] lsantos10 opened #216 "remove test from package"
there is a long file included on the package that does not sound like required.
Can it be removed?

[2018-09-17 00:44] pateketrueke commented on #69
We're also suffering from this: https://github.com/json-schema-faker/json-schema-faker/issues/379

[2018-09-20 14:40] ccordenier opened #222 "Object.keys() does not guarantee order that lead to unexpected comparaison failure"
We have a schema made of complex enum something like :

[code]

This fails on validation with z-schema but pass the validation on https://www.jsonschemavalidator.net/

After debugging it happens to be object equality check that leads to validation failure. And it's due to a different of order in object keys set :

cf. https://github.com/zaggino/z-schema/blob/10263d992260e3d34e49881174babf7c83eaa39

[2018-09-24 06:29] #222 closed

[2018-09-24 06:29] zaggino commented on #222
Fixed in `z-schema@3.24.1`

[2018-09-24 06:33] zaggino commented on #69
Potentially I'd accept a PR which would introduce a new constructor variable, either specifying a delta as a number, or a comparison function that should be used when comparing type `number`. I think that would solve your issues?

[2018-09-24 07:06] ccordenier commented on #222
Thank you !

[2018-10-21 15:04] FMoran opened #224 "Not getting all schema errors from optional father object"
Hi, I hope I am not misleading you.
I saw this use case:
In the schema we have an optional object (one of null, object) with a few children (some optional, some not). If there are a few errors in the object, I would expect to get all of them. But actually I am getting 1 error of type "Data does not match any schemas from 'oneOf'" and in the inner only first error of the children is given (not all

[2018-11-26 14:47] zaggino commented on #204
solved in https://github.com/zaggino/z-schema/pull/225 (if not, submit a PR please so I'll have a look)

[2018-11-26 14:47] #204 closed

[2018-11-26 14:48] zaggino commented on #224
Hi, can you submit a PR for this please?

[2018-11-26 14:50] #210 closed

[2018-11-26 14:53] zaggino commented on #191
Solved in https://github.com/zaggino/z-schema/pull/197

[2018-11-26 14:53] #191 closed

[2018-11-26 14:53] zaggino commented on #190
@simon-p-r is right here

[2018-11-26 14:53] #190 closed

[2018-11-26 14:57] zaggino commented on #51
I don't think i'm going to work on this anytime soon due to time issues, I keep using v4 in my projects for now.

[2018-11-26 14:57] #51 closed

[2018-11-26 15:01] zaggino commented on #177
benchmark is currently failing, if someone can submit a PR fixing it, i'm happy to refresh the tests ... to run them do just:
[code]
in the benchmark directory

[2018-12-08 12:28] daniele-pecora opened #226 "Options-request: (partially) invalidating referenceCache"
What I'm requesting here is an option to re-invalidate the `referenceCache`.

I already worked out that the `referenceCache` works by holding
a reference of the schema as **key** and a deep copy as **value**.

This will not allow to update the schema at runtime after `z-schema` has been instantiated
and has already run a validation once, because of the existing deep copy that has been created.

Cr

[2018-12-09 13:13] daniele-pecora commented on #226
I noticed that the `referenceCache` is accessible through the `ZSchema` instance.
So resetting the `referenceCache` is simple as this
[code]
Thank you anyway

[2018-12-09 13:13] #226 closed

[2019-01-21 08:16] kallaspriit commented on #209
@zaggino could You please verify the fix and merge it :)

[2019-01-21 12:20] zaggino commented on #209
Fixed by https://github.com/zaggino/z-schema/pull/228
Thanks @kallaspriit

[2019-01-21 12:20] #209 closed

[2019-01-21 13:23] kallaspriit commented on #209
I updated the library in my project and I'm afraid that simply removing the problematic line is not a solution after all because it fails if there are more than one properties in an object schema. Unfortunately this was not covered by any of the tests.

Here's an updated test case that fails:

*test/ZSchemaTestSuite/Issue209.js*
[code]

Fails with `Expected '#/userId/projectId' to equal '#/userId'

[2019-01-24 23:56] gorlox19 opened #229 "Paths in errors are incorrect due to Issue #209 fix"
With commit https://github.com/zaggino/z-schema/commit/b4444bf779f50f78fc1cccf2f1f5306904f51dc4, paths in error messages now contain all properties in the object and not just the one with the issue.  For example, I have a definition of:
[code]
and data of
[code]
I would expect a single error with the path of
[code]
But with the new changes, the path to the error is now
[code]
The line of code that

[2019-01-25 08:44] Kent55 commented on #229
@gorlox19 I have experienced this also, we've had to temporarily pin back to `3.24.2`.

[2019-01-26 14:36] TatyanaBol commented on #229
We have experienced this issue too!
We are using swagger-tools that use z-schema as its dependency.
In the swagger-tools' package.json it is written `"z-schema": "^3.15.4" `.
Unfortunately, we can not tell swagger-tools which version of z-schema it should use.
Our tests started to fail 2 days ago.
We have a critical bug in our service because of this issue and can't promote our code to production.

[2019-01-28 10:05] Kent55 commented on #229
@zaggino any updates on this? It is causing our tests to fail and blocking us also. Ideally, we don't want to be running a pinned version for too long.

[2019-01-28 22:25] #229 closed

[2019-03-19 20:05] gm1190 opened #230 "Enum mismatch error not reported when more than one invalid type errors"
[code]
expecting 3 errors but getting 2 errors with above code
Expect output: code:INVALID_TYPE
                         code:INVALID_TYPE
                         code:ENUM_MISMATCH

Actual output :code:INVALID_TYPE
                         code:INVALID_TYPE

Can you please help me with this issue?

it is working fine with npm version 3.19.1

once i updated with 3.25.1(latest) version it is givin

[2019-04-01 01:56] futurist opened #232 "add keyword in error objects of getLastErrors()"
![image](https://user-images.githubusercontent.com/159167/55299097-eca14c00-5463-11e9-86a7-72ec7f385ca0.png)

The error objects returned by `getLastErrors()` missing **keyword**, in above the keyword is `required`.

Sample code is below:

[code]

[2019-04-03 20:59] vladbarosan opened #233 "Allow to specify errors to be reported"
Hi, @zaggino  It would be nice if we can specify which errors we are interested in to be reported and then skip validations that are not required.

E.G we only care about MISSING_REQUIRED_PROPERTIES, then we dont want to execute the ohter validators except the one for `required`.

[2019-04-05 07:53] #233 closed

[2019-04-10 18:51] vladbarosan opened #235 "why when schema type is string, there is no error when the value type is integer or number ?"
Hi @zaggino ,  can you please specify why we dont report an error in this case ?
https://json-schema.org/understanding-json-schema/reference/string.html#string

[2019-04-10 20:27] zaggino commented on #235
Not sure what you're pointing at here? Are you talking about z-schema potential bug or something in json-schema specification?

[2019-04-10 23:00] vladbarosan commented on #235
@zaggino sorry actually the issue was coming from another dependency doing some type coercion

[2019-04-10 23:00] #235 closed

[2019-06-12 11:01] no-more opened #241 "Update to core-js 3.x"
Core-js 3.x import path changed from

[code]
to
[code]

[2019-07-08 05:04] MattGson opened #242 "Doesn't validate minimum and maximum on numbers"
The validator doesn't fail when a number falls outside of the specified minimum and maximum.

[2019-07-10 11:29] zaggino commented on #242
Can you provide a test-case?

[2019-07-10 13:02] YonatanKra opened #243 "Versions mismatch cause npm error"
Hi,
We have a dependency with `z-schema: ^3.17.0`.
On the release part I see there's a version 2.26.0 - https://github.com/zaggino/z-schema/releases/tag/v3.26.0.
On npm this version does not exist (last version is 2.25.1):
![image](https://user-images.githubusercontent.com/6459899/60971101-18b64e00-a32c-11e9-9468-64f3fec670bf.png)

The problem is - `npm install` looks for 2.26.0.
I there a reason

[2019-07-10 22:40] #242 closed

[2019-07-16 20:12] zaggino commented on #243
Hi, unless you're using Node 4.x, you can safely update to z-schema 4.x

[2019-07-23 02:42] smartmouse commented on #243
HI , we ran into the same issue, We cannot upgrade since we have shirnkwrap already/ Is it possible to publish that version.
Appreciated your help.

npm WARN deprecated nodemailer@2.7.2: All versions below 4.0.1 of Nodemailer are deprecated. See https://nodemailer.com/status/
npm WARN deprecated swagger-ui@2.2.10: No longer maintained, please upgrade to swagger-ui@3.
npm ERR! code ETARGET
npm ERR!

[2019-07-23 04:12] rmg commented on #243
As far as I can tell, `3.26.0` was unpublished.

Since `3.26.0` was already published once there is no way to re-publish it. The best that could be done is to branch from the `3.26.0` tag and re-publish as `3.26.1`.

The problem @smartmouse is reporting is an unfortunate case of generating an `npm-shrinkwrap.json` between when `3.26.0` was published and when it was unpublished. The use of a privat

[2019-07-23 05:43] zaggino commented on #243
`3.26.0` was published and it broke node v4, by mistake, to not introduce any code-breaks with semver-minor, I've unpublished it

I've also decided to go with `4.0.0` because I don't see a reason to keep supporting so old node versions

[2019-10-09 11:28] Azzurite opened #247 "Remove core-js"
I don't want weird advertisements in my command line whenever I do `npm install`. That's why I decided against using z-schema, even if it would've been a good fit.

Does this project really need core-js that much? Aren't there other, better polyfills, that don't advertise in the command line?

[2019-10-10 11:33] pubkey commented on #247
You can disable the log with an ENV variable. See here https://github.com/zloirock/core-js/blob/5a66505301b64d13f7bcf96b1e9ab55e4ff35fe6/packages/core-js/postinstall.js#L10

[2019-10-14 13:27] #247 closed

[2019-10-14 13:29] zaggino commented on #247
This is now fixed, `core-js` is no longer required anyway since the project doesn't support node version 4 anymore.

[2019-10-14 13:29] #243 closed

[2019-12-10 00:22] peteorpeter opened #251 "Missing type for Validator.validate(json, schema, options)"
A type is missing for the overload of `Validator.validate` that is used for validating against subschemas.  The method signature exists and is in the docs at: https://github.com/peteorpeter/z-schema#validate-against-subschema

There are two other overloads of that method that are typed, but not that one.

This means that Typescript users will have problems using that method signature.  I worked ar

[2019-12-12 15:10] zaggino commented on #251
@peteorpeter happy to merge a PR.

Third parameter is this: https://github.com/zaggino/z-schema/blob/master/index.d.ts#L7-L29
so:
[code]

schemaPath is missing from Validator.Options

[2019-12-13 02:01] peteorpeter commented on #251
Another missing Validator method:
[code]

I'll see if I can get a PR put together with these changes in the next week or two.

[2020-02-12 12:22] shane-tomlinson opened #252 "'email' format accepts email addresses with several types of whitespace."
Email addresses are considered valid even if they have any of the following types of whitespace:

* no-break space (U+00A0)
* zero-width space (U+200B)
* left-to-right mark (U+200E)
* right-to-left mark (U+200F)

There may be more, I only tried these and a few more.

Here is a test suite that shows the problem:

[code]

[2020-02-12 13:13] shane-tomlinson commented on #252
Looking at the [IETF spec about internationalized email addresses](https://tools.ietf.org/html/rfc6531#section-3.2), email addresses *are* allowed to contain utf-8 characters:

   to accept a UTF-8 string [RFC3629] in any position in which RFC 5321
   specifies that a <mailbox> can appear.  Although the characters in
   the <local-part> are permitted to contain non-ASCII characters, the
   actual

[2020-02-12 13:46] zaggino commented on #252
You can do in your project:
[code]
I wouldn't modify the default behaviour unless we need to match the official test suite (maybe open a PR there?): https://github.com/json-schema-org/JSON-Schema-Test-Suite/blob/master/tests/draft4/format.json

[2020-02-12 14:15] shane-tomlinson commented on #252
Thanks @zaggino - closing this issue!

[2020-02-12 14:15] #252 closed

[2020-06-12 02:35] Ligengxin96 opened #259 "'ARRAY_ADDITIONAL_ITEMS' error unreachable?"
If Array.isArray(json) is true, it means schema.type must be an Array.
So, schema.items always is an Object.

（JsonValidation.js line 108）
[code]

[2020-07-03 11:43] aahventures commented on #251
I'm also not able to use certain features because of the missing method signature. Additionally @zaggino it seems like https://github.com/zaggino/z-schema/blob/master/index.d.ts#L7-L29 is also missing the [`includeErrors` option](https://github.com/zaggino/z-schema#includeerrors)? Is `interface Options` the sensible place to  put it or does it only apply to the `validate()` method?

[2021-01-22 09:19] raych1 opened #263 "Is there any approach to suppress an error code"
I don't want an error code being reported, is there any approach? I see there's an [option](https://github.com/zaggino/z-schema/blob/1fee1f1b72e69d02c97286dd2671ecd5e6d98d5e/src/JsonValidation.js#L17) when run Json validation. Can we have an similar one like `options.excludeErrors` to suppress error?

[2021-05-17 02:23] raych1 commented on #263
Hi @zaggino , is there any plan to support this request?

[2021-05-17 13:16] zaggino commented on #263
Hey, if you open a pull request I'm happy to have a look and merge it if it doesn't break anything.

[2021-05-20 19:45] plaurent opened #266 "Local schemas not being retrieved from cache"
# Overview

I'm running into an error when using references to local files. Debugging I see that the local files are indeed being added to the schema cache, but they aren't getting retrieved.   get `REMOTE_NOT_VALID` errors.... as though it's trying to load these local references from a remote location.

I was able to get it working by returning the schema if it's already in the cache, adding the

[2021-05-21 00:43] #266 closed

[2021-06-09 15:26] LoicBoursin opened #268 "zSchema doesn't support json-schema post 2020-12"
When working on https://github.com/APIDevTools/swagger-parser/pull/171/files, I noted that at https://github.com/zaggino/z-schema/blob/1fa0109011098e5eb7cf7d7da98dff437a16abe8/src/ZSchema.js#L127, it doesn't support json-schema draft (opposed to draft-04).

[2021-07-25 05:43] paimon0715 opened #269 "Vulnerabilities introduced by package validator"
Hi, @zaggino, I’d like to report the vulnerabilities introduced in your package **z-schema**:
### Issue Description
Vulnerabilities [**SNYK-JS-VALIDATOR-1090600**](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090600),  [**SNYK-JS-VALIDATOR-1090599**](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090599), [**SNYK-JS-VALIDATOR-1090602**](https://snyk.io/vuln/SNYK-JS-VALIDATOR-1090602) and [**SNYK-JS-VALIDATOR-

[2021-07-26 05:34] zaggino commented on #269
Hello,
Published z-schema@4.2.4
Diff https://github.com/zaggino/z-schema/compare/v4.2.3...v4.2.4?expand=1

[2021-07-26 05:34] #269 closed

[2021-07-26 05:35] paimon0715 commented on #269
@zaggino Thanks for your help!

[2021-11-04 22:33] jyu-tera opened #273 "Vulnerability in Validator JS"
https://github.com/advisories/GHSA-qgmg-gppg-76g5

Validator JS is vulnerable for versions <13.7.0

[2021-11-08 22:18] deepakvk commented on #273
Is there any update on fixing this vulnerability issue yet?

[2021-11-11 06:21] #273 closed

[2022-01-07 21:35] jyu-tera opened #274 "Update Validator to 13.7.0"
Validator 13.6.0 has a medium severity vuln under npm audit

[2022-01-09 10:07] zaggino commented on #274
https://github.com/zaggino/z-schema/commit/f2f77ada38636b855d7f3328d9b2a64cb5c2943b

[2022-01-09 10:07] #274 closed

[2022-08-24 15:42] tkf144 opened #279 "`lastReport` absent in `index.d.ts`"
Hi. Is it deliberate that the report of the last validation is not included in the typings (i.e. `index.d.ts`)? I have come across this library through another, and it makes use of `Validator.lastReport`, however on converting the library to Typescript, `tsc` complains that `lastReport` does not exist there when I seem to have no trouble making use of it anyway.

Cheers

[2022-08-28 15:16] #279 closed

[2022-08-28 15:17] zaggino commented on #279
Hey, I the typings are not generated automatically for this project, because it's in JS not TS originally.
I've pushed https://github.com/zaggino/z-schema/commit/7d7ecfb464759b392d6a5db9a17cdbe24bd084b4
But if that's not enough, feel free to open a PR with an update to https://github.com/zaggino/z-schema/blob/master/index.d.ts

[2022-08-28 15:45] tkf144 commented on #279
Understood. Thanks for the fix @zaggino.